@font-face {
  font-family: 'siteorigin-corp-icons';
  src:  url('fonts/siteorigin-corp-icons.eot?1a5vqo');
  src:  url('fonts/siteorigin-corp-icons.eot?1a5vqo#iefix') format('embedded-opentype'),
    url('fonts/siteorigin-corp-icons.ttf?1a5vqo') format('truetype'),
    url('fonts/siteorigin-corp-icons.woff?1a5vqo') format('woff'),
    url('fonts/siteorigin-corp-icons.svg?1a5vqo#siteorigin-corp-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'siteorigin-corp-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-comment:before {
  content: "\e91f";
}
.icon-yelp:before {
  content: "\e91e";
}
.icon-angle-down:before {
  content: "\e91d";
}
.icon-youtube-play:before {
  content: "\e91c";
}
.icon-xing:before {
  content: "\e902";
}
.icon-wordpress:before {
  content: "\e903";
}
.icon-weibo:before {
  content: "\e904";
}
.icon-vk:before {
  content: "\e905";
}
.icon-vimeo:before {
  content: "\e906";
}
.icon-twitter:before {
  content: "\e907";
}
.icon-tumblr:before {
  content: "\e908";
}
.icon-stack-overflow:before {
  content: "\e909";
}
.icon-stack-exchange:before {
  content: "\e90a";
}
.icon-soundcloud:before {
  content: "\e90b";
}
.icon-reddit-alien:before {
  content: "\e90c";
}
.icon-pinterest-p:before {
  content: "\e90d";
}
.icon-linkedin:before {
  content: "\e90e";
}
.icon-instagram:before {
  content: "\e90f";
}
.icon-google-plus:before {
  content: "\e910";
}
.icon-github-alt:before {
  content: "\e911";
}
.icon-foursquare:before {
  content: "\e912";
}
.icon-flickr:before {
  content: "\e913";
}
.icon-facebook:before {
  content: "\e914";
}
.icon-facebook-f:before {
  content: "\e914";
}
.icon-dribbble:before {
  content: "\e915";
}
.icon-digg:before {
  content: "\e916";
}
.icon-deviantart:before {
  content: "\e917";
}
.icon-delicious:before {
  content: "\e918";
}
.icon-codepen:before {
  content: "\e919";
}
.icon-behance:before {
  content: "\e91a";
}
.icon-search:before {
  content: "\e91b";
}
.icon-long-arrow-right:before {
  content: "\e900";
}
.icon-long-arrow-left:before {
  content: "\e901";
}
