/*!
Version: dev
*/

// Main column width.
body.gutenberg-editor-page #wpwrap {

	.editor-post-title__block,
	.editor-default-block-appender,
	.editor-block-list__block {
		max-width: 855px;
	}
}

// Width of "wide" blocks.
body.gutenberg-editor-page .editor-block-list__block[data-align="wide"] {
	max-width: 1140px;
}

// Width of "full-wide" blocks.
body.gutenberg-editor-page .editor-block-list__block[data-align="full"] {
	max-width: none;
}