.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: $color__accent;
	border: 0;
	border-radius: 0;
	color: #fff;
	font-family: $font__main;
	font-size: .8666rem;
	letter-spacing: 1px;
	line-height: normal;
	padding: 11px 25px;
	text-transform: uppercase;
	transition: .3s;

	&:hover {
		background: rgba($color__accent, .8);
		color: #fff;
	}

	&:visited {
		color: #fff;
	}

	&:active,
	&:focus {
		background: $color__accent;
		color: #fff;
		outline: none;
	}
}
