.wp-caption {
	color: $color__text-light; 
	font-size: 13px;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 14px 0;
	}
}

.wp-caption-text {
	text-align: left;
}
