.featured-posts-slider {
	margin-bottom: 60px;
	
	.widget_siteorigin-panels-postloop & {
		margin-bottom: 0;
	}
	 
	.slides .slide {
		background-color: $color__text-medium;
		background-position: center;
		background-size: cover;
		height: 520px;
		
		@media (max-width: 768px) {
			height: 380px; 
		}

		@media (max-width: 480px) {
			height: 155px; 
		}			
		
		.overlay a {
			background: rgba(0, 0, 0, .5);
			display: block;
			height: 100%;
			position: absolute;
			width: 100%;
		}

		.slide-content {
			text-align: center;
			padding: 160px 10% 0;
			position: absolute;
			width: 100%; 
			z-index: 3;
			
			@media (max-width: 768px) {
				padding-top: 80px;
			}

			@media (max-width: 480px) {
				padding-top: 30px;
			}

			@at-root .widget_siteorigin-panels-postloop & {
				padding: 15% 10%;
			}

			.entry-title {
				font-size: 46px;
				margin-bottom: 0; 
				position: relative;
				text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
				z-index: 3;
				
				@media (max-width: 768px) {
					font-size: 41px;
					line-height: 1.1;
					margin-bottom: 10px; 
				}

				@media (max-width: 480px) {
					font-size: 26px;
				}				

				a {
					color: #fff;
				
					&:hover {
						color: rgba(255, 255, 255, .8);
					}
				}
			}

			.entry-excerpt {
				color: rgba(255, 255, 255, .9);
				font-size: 18px; 
				text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
				
				@media (max-width: 768px) {
					font-size: 16px; 
				}				
				
				@media (max-width: 480px) {
					display: none;
				}					
			}		
		}
	}
}
