.site-footer {
	background: $color__footer-background;	
	margin-top: $footer__margin;
	
	.no-footer-margin & {
		margin-top: 0;
	}		
	
	.widgets {
		@include clearfix;
		padding-top: $footer__padding;
		width: 100%; 

		@for $i from 1 through 10 {
			$margin: ($i - 1) * 2.75;
			&.widgets-#{$i} .widget {
				width: (100% - $margin) / $i;
			}
		}

		.widget {
			box-sizing: content-box;
			margin: 0 2.75% 95px 0;
			float: left;
			
			.widget-title {
				color: $color__footer-widget-title;
				font-size: 1.0666em;
				font-weight: 500; 
			}

			~ * {
				color: $color__footer-widget-text;
			}

			a {
				color: $color__footer-widget-link;
				
				&:hover {
					color: $color__footer-widget-link-hover;
				}
			}

			&:last-of-type {
				margin-right: 0;
			}

			@media (max-width: 768px) {
				float: none;
				width: 100% !important;
			}
		}
	}

	.site-info {
		float: left;
		font-size: 13px; 
		text-align: left;
		width: 30%;
		
		@media (max-width: 768px) {
			float: none;
			text-align: center;
			width: 100%;
		} 		
	}

	.bottom-bar {
		background: $color__bottom-bar-background;
		color: $color__bottom-bar-text;
		overflow: auto;
		padding: 25px 0;

		div:only-of-type {
			float: none;
			text-align: center;
			width: 100%; 
		}	

		a {
			color: $color__bottom-bar-link;
			
			&:hover {
				color: $color__bottom-bar-link-hover;
			}
		}
	}	
}
