.site-footer {
	background: $color__background-footer;	
	margin-top: 80px;
	
	.widgets {
		@include clearfix;
		padding-top: 95px;
		width: 100%; 

		@for $i from 1 through 10 {
			$margin: ($i - 1) * 2.75;
			&.widgets-#{$i} .widget {
				width: (100% - $margin) / $i;
			}
		}

		.widget {
			box-sizing: content-box;
			margin: 0 2.75% 95px 0;
			float: left;
			
			.widget-title {
				color: #fff;
				font-size: 1.0666em;
				font-weight: normal;	 
			}

			~ * {
				color: #b4b5b8;
			}

			a {
				color: #fff;
				
				&:hover {
					color: #b4b5b8;
				}
			}

			&:last-of-type {
				margin-right: 0;
			}

			@media (max-width: 768px) {
				float: none;
				width: 100% !important;
			}
		}
	}

	.site-info {
		float: left;
		font-size: 13px; 
		text-align: left;
		width: 30%;
		
		@media (max-width: 768px) {
			float: none;
			text-align: center;
			width: 100%;
		} 		
	}

	.bottom-bar {
		background: $color__background-bottom-bar;
		color: #b4b5b8;
		overflow: auto;
		padding: 25px 0;

		div:only-of-type {
			float: none;
			text-align: center;
			width: 100%; 
		}	

		a {
			color: #b4b5b8;
			
			&:hover {
				color: #fff;
			}
		}
	}	
}
