#fullscreen-search {
	background: rgba(9, 13, 20, 0.95);
	display: none;
	left: 0;
	position: fixed;
	top: 0;
	z-index: 10000;

	.corp-container {
		top: 40%;
	}

	h3 {
		color: #b2b2b2;
		font-family: $font__main;
		font-size: 20px;
		font-weight: 300;
		letter-spacing: 2px;
		text-align: center;
		margin: 0 0 41px;
		text-transform: uppercase;

		@media (max-width: 768px) {
			font-size: 18px;
		}

		@media (max-width: 768px) {
			font-size: 16px;
		}
	}

	form {
		left: 50%;
		max-width: 555px;
		position: absolute;
		transform: translate(-50%, -50%);

		input[type="search"] {
			background: transparent;
			border: 0;
			border-bottom: 1px solid #b2b2b2;
			color: #fff;
			display: inline-block;
			font-size: 32px;
			font-weight: normal;
			outline: none;
			padding: 0 49px 0 14px;
			text-align: center;
			width: 100%;

			@media (max-width: 768px) {
				font-size: 24px;
			}
		}

		button[type="submit"] {
			background: transparent;
			border: none;
			display: inline-block;
			outline: none;
			padding: 0;
			position: absolute;
			right: 12px;
			top: -4px;

			@media (max-width: 768px) {
				top: -15px;
			}

			svg {
				fill: $color__text-light;
				height: 23px;
				width: 23px;

				@media (max-width: 480px) {
					display: none;
				}
			}
		}
	}

	.search-close-button {
		background: transparent;
		border: none;
		display: block;
		outline: none;
		padding: 0;
		position: absolute;
		right: 0;
		top: -100px;

		.close {
			display: inline-block;

			svg {
				height: 24px;
				width: 24px;
				path {
					fill: $color__text-light;
				}
			}
		}

		@media (max-width: 1100px) {
			right: 25px;
		}
	}
}
