.site-header {
	background: #fff;
	border-bottom: 1px solid $color__background-hr;
	margin-bottom: 60px; 
	padding: 25px 0;
	position: relative;
	width: 100%;
	z-index: 999;
	
	.page-layout-no-header-margin & {
		margin-bottom: 0;
	}
	
	@at-root {

		.topbar-out & {
			@include clearfix;
			top: 0;
			left: 0;
			width: 100%;
		}

		.topbar-out.admin-bar & {
			top: 32px;

			@media (max-width: 782px) {
				top: 46px;
			}
		}		
	}
	
	@media (max-width: 600px) {

		@at-root .admin-bar .site-header.sticky.stuck {
			top: 0;
		}						
	}	

	// A class added after scroll.
	&.stuck {
    	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);	
    }

	.site-header-inner {
		-ms-flex-align: center;
		-webkit-align-items: center;
		-webkit-box-align: center;
	    align-items: center;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		width: 100%;
	}
	
	.site-branding {
		flex-shrink: 0; // Fix for Safari.
		padding-right: 20px;

		.site-title {
			font-family: $font__headings;
			font-size: 29px;
			line-height: normal;
			margin: 0;
			
			a {
				color: $color__text-dark;
			}
		}

		img {
			display: inline-block;
			vertical-align: middle;
			
			@at-root .tagline#{&} {
				padding-bottom: 5px;
			}	
		}

		.site-description {
			color: $color__text-light;
			font-family: $font__main;
			font-weight: normal; 
			font-size: 13px; 
			line-height: normal;
			margin: -3px 0 0; 
		}

		> * {
			transform-origin: left center;
		}		
	}
}

// Sticky header sentinel.
.masthead-sentinel {
	margin-bottom: 60px;
	
	.no-header-margin & {
		margin-bottom: 0;
	}
}

#topbar {
	position: relative;
	width: 100%;
	z-index: 1000;
}
