.site-header {
	background: $color__header-background;
	border-bottom: 1px solid $color__header-border;
	margin-bottom: $header__margin; 
	padding: $header__padding 0;
	position: relative;
	width: 100%;
	z-index: 999;
	
	body[class*="overlap-"] &:not(.stuck) {
		background: transparent;
		border: none;
		position: absolute;
	}
	
	.no-header-margin & {
		margin-bottom: 0;
	}
	
	.topbar-out & {
		@include clearfix;
		top: 0;
		left: 0;
		width: 100%;
	}

	.topbar-out.admin-bar & {
		top: 32px;

		@media (max-width: 782px) {
			top: 46px;
		}
	}		
	
	@media (max-width: 600px) {

		@at-root .admin-bar .site-header.sticky.stuck {
			top: 0;
		}						
	}	

	@at-root .topbar-out#{&} {
		transition: background 500ms ease;
	}

	// A class added after scroll.
	&.stuck {
    	box-shadow: 0 1px 1px rgba(0, 0, 0, .075);	
    }

	.site-header-inner {
		-ms-flex-align: center;
		-webkit-align-items: center;
		-webkit-box-align: center;
	    align-items: center;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		width: 100%;
	}
	
	.site-branding {
		padding-right: 20px;

		.site-title {
			font-family: $font__site-title;
			font-size: 29px;
			font-weight: 500; 
			line-height: normal;
			margin: 0;
			
			a {
				color: $color__site_title;
				
				.overlap-light & {
					color: #fff; 
				}

				.overlap-dark & {
					color: #2d2d2d;
				}													
			}
		}

		img {
			display: inline-block;
			vertical-align: middle;
			
			@at-root .tagline#{&} {
				padding-bottom: 5px;
			}	
		}

		.site-description {
			color: $color__site_tagline;
			font-family: $font__site-tagline;
			font-weight: normal; 
			font-size: 13px; 
			line-height: normal;
			margin: -3px 0 0; 
			
			.overlap-light & {
				color: #fff; 
			}

			.overlap-dark & {
				color: #2d2d2d;
			}				
		}

		> * {
			transform-origin: left center;
		}		
	}
}

// Sticky header sentinel.
.masthead-sentinel {
	margin-bottom: 60px;
	
	body[class*="overlap-"] & {
		display: none;
	}
	
	.no-header-margin & {
		margin-bottom: 0;
	}
}

#topbar {
	position: relative;
	width: 100%;
	z-index: 1000;
}
