.site-header {
	background: $color__header-background;
	border-bottom: 1px solid $color__header-border;
	padding: $header__padding 0;
	position: relative;
	width: 100%;
	z-index: 999;

	body[class*="overlap-"] &:not(.stuck) {
		background: transparent;
		border: none;
		position: absolute;
	}

	.no-header-margin & {
		margin-bottom: 0;
	}

	.topbar-out & {
		@include clearfix;
		top: 0;
		left: 0;
		width: 100%;
	}

	.topbar-out.admin-bar & {
		top: 32px;

		@media (max-width: 782px) {
			top: 46px;
		}
	}
	
	@media (max-width: 600px) {

		@at-root .admin-bar .site-header.sticky.stuck {
			top: 0;
		}
	}	

	@at-root .topbar-out#{&} {
		transition: background 500ms ease;
	}

	// A class added after scroll.
	&.stuck {
		box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
	}

	.site-header-inner {
		-ms-flex-align: center;
		-webkit-align-items: center;
		-webkit-box-align: center;
		align-items: center;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		width: 100%;

		@at-root .centered#{&} {
			flex-direction: column;
		}

		@media (max-width: 600px) {

			@at-root .mega-menu-menu-1 & {
				display: block;
			}
		}
	}
	
	.site-branding {
		padding-right: 20px;

		.site-title {
			font-family: $font__site-title;
			font-size: 29px;
			font-weight: 600;
			line-height: normal;
			margin: 0;

			a {
				color: $color__site_title;
			}
		}

		.custom-logo-wrapper {
			display: inline-block;
		}

		.custom-logo-link {
			display: block;
			line-height: 0;
		}

		img {
			display: inline-block;
			vertical-align: middle;

			@at-root .tagline#{&} {
				padding-bottom: 5px;
			}
		}

		@at-root .stuck#{&} .alt-logo {
			display: none;
		}

		.alt-logo-scroll {
			display: none;

			@at-root .stuck#{&} {
				display: block;
			}
		}

		.site-description {
			color: $color__site_tagline;
			font-family: $font__site-tagline;
			font-weight: normal;
			font-size: 13px;
			line-height: normal;
			margin: 0;
		}

		> * {
			transform-origin: left center;

			@at-root .centered#{&} {
				transform-origin: center center;
			}
		}
	}

	&.centered {

		.site-branding {
			margin: 0 auto 20px auto;
			padding: 0;
			text-align: center;
		}

		.main-navigation {
			text-align: center;
		}
	}

	@media (max-width: 768px) {

		&:not(.mobile-menu) {

			.site-header-inner {
				flex-direction: column;
			}

			.site-branding {
				margin: 0 auto 20px auto;
				padding: 0;
				text-align: center;
			}

			.main-navigation {
				text-align: center;
			}
		}
	}
}

// Overlap.
.overlap-light .site-header:not(.stuck) .site-branding {

	.site-title a,
	.site-description {
		color: #fff;
	}
}

.overlap-dark .site-header:not(.stuck) .site-branding {

	.site-title a,
	.site-description {
		color: #2d2d2d;
	}
}

// Sticky header sentinel.
.masthead-sentinel {

	body[class*="overlap-"] & {
		display: none;
	}

	.no-header-margin & {
		margin-bottom: 0;
	}
}

// Header and sticky header bottom margin.
.site-header,
.masthead-sentinel {
	margin-bottom: $header__margin;
}

#topbar {
	position: relative;
	width: 100%;
	z-index: 1000;
}
