h1,
h2,
h3,
h4,
h5,
h6 {
	color: $color__text-dark;
	font-family: $font__headings;
	font-weight: 600;
	margin: 25px 0;

	a,
	a:visited {
		color: $color__text-dark;
	}
}

h1 {
	font-size: $font__size-h1;
}

h2 {
	font-size: $font__size-h2;
}

h3 {
	font-size: $font__size-h3;
}

h4 {
	font-size: $font__size-h4;
}

h5 {
	font-size: $font__size-h5;
}

h6 {
	font-size: $font__size-h6;
}

.sub-heading {
	color: $color__text-medium;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: normal;
	margin: 0;
	text-transform: uppercase;
}
