html {
	font-size: 93.8%; // 15px base.
}

body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-medium;
	font-size: 15px;
	font-family: $font__main;
	@include font-smoothing(subpixel-antialiased);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";
