// Background colors.
$color__background-body: #f9f9f9;
$color__background-footer: #363a43;
$color__background-bottom-bar: #2f333b;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

// Border colors.
$color__background-hr: #e6e6e6;
$color__background-hr-dark: #d6d6d6;

// Accent color.
$color__accent: #f14e4e;

// Text colors.
$color__text-light: #929292;
$color__text-medium: #626262;
$color__text-dark: #2d2d2d;
