// Background colors.
$color__background-body: #f9f9f9;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

// Border colors.
$color__background-hr: #e6e6e6;
$color__background-hr-dark: #d6d6d6;

// Accent color.
$color__accent: #f14e4e;

// Text colors.
$color__text-light: #929292;
$color__text-medium: #626262;
$color__text-dark: #2d2d2d;

// Heading colors.
$color__header-background: #fff;
$color__header-border: #e6e6e6;

// Footer colors.
$color__footer-background: #363a43;
$color__bottom-bar-background: #2f333b;