$font__main: 'Open Sans', sans-serif;
$font__headings: 'Montserrat', sans-serif;
$font__site-title: 'Montserrat', sans-serif;
$font__site-tagline: 'Open Sans', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__icon: 'siteorigin-corp-icons';
$font__line-height-body: 1.7333;
$font__line-height-pre: 1.6;
