$font__main: 'Open Sans', sans-serif;
$font__headings: 'Montserrat', sans-serif;
$font__site-title: 'Montserrat', sans-serif;
$font__site-tagline: 'Open Sans', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__icon: 'siteorigin-corp-icons';
$font__size-body: 15px;
$font__size-site-title: 29px;
$font__size-site-tagline: 13px;
$font__size-navigation: 12px;
$font__size-h1: 29px;
$font__size-h2: 26px;
$font__size-h3: 23px;
$font__size-h4: 20px;
$font__size-h5: 18px;
$font__size-h6: 16px;
$font__line-height-body: 1.7333;
$font__line-height-pre: 1.6;
