// Breadcrumb NavXT and Yoast Breadcrumbs.
.breadcrumbs {
	color: $color__text-light;
	font-size: 13px;
	margin-bottom: 15px;

	a {
		color: $color__text-light;
		
		&:hover {
			color: $color__accent;
		}
	}
}
