a {
	color: $color__accent;
	text-decoration: none;
	transition: .3s;

	&:visited {
		color: $color__accent;
	}
	
	&:hover,
	&:focus,
	&:active {
		color: $color__text-medium
	}
	
	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
