.main-navigation {
	display: table-cell;
	text-align: right;
	vertical-align: middle;

	> div {
		display: inline-block;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		ul {
			opacity: 0;
			position: absolute;
			text-align: left;
			top: 16px;
			transform: scale(0.95);
			transition: all 0.15s ease-in;
			transform-origin: center top;
			visibility: hidden;
			z-index: 99999;

			ul {
				left: 100%;
				top: -2px;
				transform-origin: left center;
			}

			li {
				margin: 0;
				padding: 0;
				min-width: 100%;

				&:hover > a {
					color: #fff;
				}

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}

				&:first-of-type {
					border-top: 2px solid $color__accent;
				}

				&:last-of-type {

					a {
						border-bottom: none;
					}
				}
			}

			a {
				background: #262627;
    			border-bottom: 1px solid #353538;
    			color: #b2b2b2;
    			font-size: 12px;
    			max-width: 100%;
    			padding: 12px 20px;
    			white-space: nowrap;
			}
		}

		li:hover > ul,
		li.focus > ul {
			opacity: 1;
			transform: scale(1);
			visibility: visible;
		}

		li {
			display: inline-block;
			font-family: $font__headings;
			font-size: 12px;
			line-height: normal;
			margin: 0 39px -10px 0; // Total right margin is 44px. 5px additional space per item due to inline-block.
			padding: 0 0 10px;
			position: relative;
			text-align: left;
			text-transform: uppercase;

			&.menu-item

			&:last-of-type {
				margin-right: 0;
			}
		}

		a {
			border-bottom: 2px solid #fff;
			color: $color__text-dark;
			display: block;
			letter-spacing: 1px;
		}
	}

	// First level items.
	div > ul > li {

		&:hover > a {
			border-color: $color__accent;
		}

		&.menu-item-has-children:hover > a,
		&.page_item_has_children:hover > a {
			border-color: #fff;
		}

		&.current a,
		&.current_page_item > a,
		&.current-menu-item > a,
		&.current_page_ancestor > a,
		&.current-menu-ancestor > a {
			border-color: $color__accent;
		}
	}

	// Menu search.
	.search-toggle {
		background: transparent;
		border: none;
		display: inline-block;
		outline: none;
		padding: 0;
		position: relative;
		top: 3px;

		.open {

			svg {
				height: 14px;
				width: 17px;

				path {
					fill: $color__text-dark;
				}
			}
		}

		.close {
			display: none;
		}

		&.close-search {

			.open {
				display: none;
			}
		}
	}
}

/*--------------------------------------------------------------
## Mobile Menu
--------------------------------------------------------------*/
#mobile-menu-button {
	display: none;
	line-height: 0;
	padding: 5px;
	position: relative;
	right: -5px;
	top: 6px;

	svg {
		height: 19px;
		width: 23px;
	}
}

#mobile-navigation {
	background: #262627;
	left: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	position: absolute;
	top: 101%;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	z-index: 10;

	&::-webkit-scrollbar {
		display: none;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			font-family: $font__headings;
			font-size: 12px;
			letter-spacing: 1px;
			line-height: 3.3;
			position: relative;
			width: 100%;

			a {
				border-bottom: 1px solid #353538;
				color: #b2b2b2;
				display: block;
				padding: 0 30px;
				text-decoration: none;
				text-transform: uppercase;
				width: 100% !important;

				&:hover {
					color: #fff;
				}
			}

			&.menu-item-has-children > a {
				padding-right: 40px;
			}

			.dropdown-toggle {
				background: transparent;
				color: #4d4d4d;
				font-size: 14px;
				padding: 14px;
				position: absolute;
				right: 0;
				top: 0;
				transition: none;

				&:hover {
					color: #fff;
				}

				&.toggle-open {
					transform: rotate(-180deg);
				}
			}
		}

		ul {
			background: #18181a;
			display: none;
			margin: 0;
			padding: 0;

			ul {
				display: none;
			}
		}
	}
}

$sel: '';
@for $i from 1 through 5 {
	$sel: if($i == 1, "#mobile-navigation", selector-nest($sel, "ul")) !global;

	#{$sel} {
    	ul ul li a {
        	padding-left: 30px * $i;
      	}
	}
}

@media (max-width: 1100px) {

	#masthead .search-toggle {
		margin-right: 20px;
	}

	#masthead #mobile-menu-button {
		display: inline-block;
	}

	#masthead .main-navigation ul {
		display: none;
	}

	#masthead .main-navigation .search-icon {
		display: none;
	}
}

@media (min-width: 1100px) {

	#masthead #mobile-navigation {
		display: none !important;
	}
}

/*--------------------------------------------------------------
## Posts, Post and Comment Navigation
--------------------------------------------------------------*/
.comment-navigation,
.posts-navigation,
.post-navigation {
	@include clearfix;
	margin: 0 0 60px;
	width: 100%;

	.nav-previous {
		float: left;
		text-align: left;
		width: 50%;

		@media (max-width: 768px) {
			float: none;
			margin-bottom: 25px;
		}
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;

		@media (max-width: 768px) {
			float: none;
			text-align: left;
		}
	}
}

.pagination {
	@include clearfix-after;
	padding-top: 30px; 
	text-align: center;

	.page-numbers {
		border: 1px solid $color__text-medium;
		color: $color__text-medium;
		display: inline-block;
		font-family: $font__main;
		font-size: 0.9333em;
		line-height: normal;  
		margin-right: 4px;
		padding: 11px 17px;
		transition: .3s;

		&:visited {
			color: $color__text-medium;
		}

		&:hover {
			border-color: $color__accent;
			color: $color__accent;
		}

		&.next,
		&.prev {
			font-family: Verdana;
			padding: 12px 13px;
		}
	}

	.dots {
		border: none;
		font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
		font-size: 13px;
		padding-right: 0;
		padding-left: 0;

		&:hover {
			background: none;
			color: $color__text-medium;
		}
	}

	.current {
		border-color: $color__accent;
		color: $color__accent;
	}
}

.post-navigation {
	font-size: 16px;

	a {
		color: $color__text-medium;
		font-weight: bold;
		font-weight: 600;

		&:hover {
			color: $color__accent;
		}

		.sub-title {
			border-bottom: 2px solid $color__background-hr-dark;
			color: $color__text-light;
			display: inline-block;
			font-size: 14px;
			font-weight: normal;
			text-transform: uppercase;
			line-height: normal;
			margin-bottom: 10px;
			padding-bottom: 3px;
		}

		div {
			line-height: normal;
		}
	}
}

.comment-navigation {
	text-transform: capitalize;
	margin: 25px 0;

	span {
		font-size: 13px;
		position: relative;
		right: 0;
		top: 1px;

		&.icon-long-arrow-left {
			padding-right: 3px;
		}

		&.icon-long-arrow-right {
			padding-left: 3px;
		}
	}

	a {
		color: $color__text-medium;
		font-size: 14px;
		font-weight: bold;
		font-weight: 600;

		&:hover {
			color: $color__accent;
		}
	}
}

/*--------------------------------------------------------------
## Footer Menu
--------------------------------------------------------------*/
.footer-menu {
	float: right;
	font-size: 13px;
	text-align: right;
	width: 70%;

	@media (max-width: 768px) {
		float: none;
		padding-top: 15px;
		text-align: center;
		width: 100%;
	}

	.menu {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			font-size: 13px;
			margin-right: 15px;
			padding: 0;
			vertical-align: middle;

			&:after {
				padding: 0 12px;
			}

			&:last-of-type:after {
				content: none;
				padding: 0;
			}

			a {
				color: inherit;

				&:hover {
					color: #fff;
				}

				&:before {
					color: #fff;
				}

				&:hover:before {
					background: #818388;
				}
			}

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}
