.main-navigation {
	text-align: right;

	> div {
		display: inline-block;
	}

	.shopping-cart,
	.search-toggle {
		margin-left: 37px;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		.sub-menu,
		.children {
			opacity: 0;
			position: absolute;
			text-align: left;
			top: 20px;
			transform: scale(0.95);
			transition: all .15s ease-in;
			transform-origin: center top;
			visibility: hidden;
			z-index: 99999;

			ul {
				left: 100%;
				top: -2px;
				transform-origin: left center;
			}

			li {
				margin: 0;
				padding: 0;
				min-width: 100%;

				a {
					background: $color__navigation-drop-down-background;
					border-bottom: 1px solid;
					border-color: $color__navigation-drop-down-divider;
					color: $color__navigation-drop-down-link;
					font-weight: normal;
					max-width: 100%;
					padding: 12px 20px;
					white-space: nowrap;
				}

				&:hover > a,
				&.current_page_item > a,
				&.current-menu-item > a,
				&.current_page_ancestor > a,
				&.current-menu-ancestor > a {
					color: $color__navigation-drop-down-link-hover;
				}

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}

				@at-root .link-underline.main-navigation ul .sub-menu li:first-of-type {
					border-top: 2px solid $color__navigation_link_accent;
				}

				@at-root .link-underline.main-navigation ul .children li:first-of-type {
					border-top: 2px solid $color__navigation_link_accent;
				}

				&:last-of-type {

					> a {
						border-bottom: none;
					}
				}
			}
		}

		@at-root body:not(.ios) & {
			li:hover > ul,
			li.focus > ul {
				opacity: 1;
				transform: scale(1);
				visibility: visible;
			}
		}

		li.hover > ul {
			opacity: 1;
			transform: scale(1);
			visibility: visible;
		}

		li {
			display: inline-block;
			font-family: $font__headings;
			font-size: 0.8rem;
			line-height: normal;
			margin: 0 39px -10px 0; // Total right margin is 44px. 5px additional space per item due to inline-block.
			padding: 0 0 10px;
			position: relative;
			text-align: left;
			text-transform: uppercase;

			&:last-of-type {
				margin-right: 0;
			}

			a {
				color: $color__navigation-link;
				display: block;
				font-weight: bold;
				letter-spacing: 1px;
				padding-bottom: 5px;
			}
		}

		// If a class of 'left' is added to a menu item, break drop down menu items to the left.
		.left {

			.sub-menu,
			.children {
				right: 0;

				ul {
					left: initial;
					left: auto;
					right: 100%;
				}

				li {

					&:hover > ul,
					&.focus > ul {
						left: initial;
						left: auto;
						right: 100%;
					}
				}
			}
		}

		// If a class of 'left' is added to a sub-menu item, break drop down menu items to the left.
		.sub-menu .left {

			.sub-menu,
			.children {
				left: initial;
				left: auto;
				right: 100%;

				li {

					&:hover > ul,
					&.focus > ul {
						left: initial;
						left: auto;
						right: 100%;
					}
				}
			}
		}

		// If a class of .menu-button is added to a menu item, style it as a button.
		@at-root #site-navigation#{&} .menu-button {
			margin-bottom: 0;
			padding-bottom: 0;

			a {
				background: $color__accent;
				border: 0;
				border-radius: 0;
				color: #fff;
				letter-spacing: 1px;
				line-height: normal;
				padding: 11px 25px;
				text-transform: uppercase;
				transition: .3s;

				&:hover {
					background: rgba($color__accent, .8);
					border: none;
					color: #fff;
				}
			}
		}
	}

	// First level items.
	div > ul:not(.cart_list) > li {

		.overlap-light .site-header:not(.stuck) & > a {
			color: #fff;
		}

		.overlap-dark .site-header:not(.stuck) & > a {
			color: #2d2d2d;
		}

		@at-root [class*="overlap"] .main-navigation:not(.link-underline) div > ul:not(.cart_list) > li:hover > a {
			color: $color__navigation_link_accent;
		}

		@at-root .link-underline#{&} > a {
			border-bottom: 2px solid transparent;
		}

		@at-root .link-underline#{&}:hover > a {
			border-bottom: 2px solid;
			border-color: $color__navigation_link_accent;
		}

		@at-root .main-navigation:not(.link-underline) div > ul:not(.cart_list) > li:hover > a {
			color: $color__navigation_link_accent;
		}

		&:not(.current-menu-item).menu-item-has-children:not(.current_page_ancestor):not(.current-menu-ancestor) > a {
			border-bottom: none;
		}

		&.current > a,
		&.current_page_item > a,
		&.current-menu-item > a,
		&.current_page_ancestor > a,
		&.current-menu-ancestor > a {
			border-color: $color__navigation_link_accent;
		}

		@at-root :not(.link-underline)#{&} {

			&.current > a,
			&.current_page_item > a,
			&.current-menu-item > a,
			&.current_page_ancestor > a,
			&.current-menu-ancestor > a {
				color: $color__navigation_link_accent;
			}
		}

		@at-root [class*="overlap"] :not(.link-underline)#{&} {

			&.current > a,
			&.current_page_item > a,
			&.current-menu-item > a,
			&.current_page_ancestor > a,
			&.current-menu-ancestor > a {
				color: $color__navigation_link_accent;
			}
		}
	}

	// Menu search.
	.search-toggle {
		background: transparent;
		border: none;
		display: inline-block;
		outline: none;
		padding: 0;
		position: relative;
		top: 3px;

		.open {

			svg {
				height: 14px;
				width: 17px;

				path {
					fill: $color__navigation-link;

					.overlap-light .site-header:not(.stuck) & {
						fill: #fff;
					}

					.overlap-dark .site-header:not(.stuck) & {
						fill: #2d2d2d;
					}
				}
			}
		}

		.close {
			display: none;
		}

		&.close-search {

			.open {
				display: none;
			}
		}
	}

	// Customizer.
	.customize-partial-edit-shortcut {
		right: 45px;
		top: -22px;
	}
}

/*--------------------------------------------------------------
## Mobile Menu
--------------------------------------------------------------*/
#mobile-menu-button {
	display: none;
	line-height: 0;
	padding: 5px;
	position: relative;
	right: -5px;
	top: 6px;

	svg {
		height: 19px;
		width: 23px;

		path {
			fill: $color__navigation-link;

			.overlap-light .site-header:not(.stuck) & {
				fill: #fff;
			}
		}
	}
}

#mobile-navigation {
	background: $color__navigation-drop-down-background;
	left: 0;
	overflow-y: scroll;
	-ms-overflow-style: auto;
	position: absolute;
	top: 101%;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	z-index: 10;
	
	@-moz-document url-prefix() {
		overflow: auto;
	}

	&::-webkit-scrollbar {
		width: 4px;
	}

	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	}

	&::-webkit-scrollbar-thumb {
		background-color: darkgrey;
		outline: 1px solid slategrey;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			font-family: $font__headings;
			font-size: 12px;
			letter-spacing: 1px;
			line-height: 3.4;
			position: relative;
			width: 100%;

			a {
				border-bottom: 1px solid;
				border-color: $color__navigation-drop-down-divider;
				color: $color__navigation-drop-down-link;
				display: block;
				padding: 0 30px;
				text-decoration: none;
				text-transform: uppercase;
				width: 100% !important;

				&:hover {
					color: $color__navigation-drop-down-link-hover;
				}
			}

			&.menu-item-has-children > a {
				padding-right: 40px;

				&:not([href]) {
					cursor: pointer;
				}
			}

			.dropdown-toggle {
				background: transparent;
				color: $color__navigation-drop-down-link;
				font-size: 14px;
				padding: 14px;
				position: absolute;
				right: 2px;
				top: -2px;
				transition: none;

				&:hover {
					color: $color__navigation-drop-down-link-hover;
				}

				&.toggle-open {
					transform: rotate(-180deg);
				}
			}
		}

		ul {
			display: none;
			margin: 0;
			padding: 0;

			ul {
				display: none;
			}
		}
	}
}

$sel: '';
@for $i from 1 through 5 {
	$sel: if($i == 1, "#mobile-navigation", selector-nest($sel, "ul")) !global;

	#{$sel} {
		ul ul li a {
			padding-left: 40px * $i;
		}
	}
}

/*--------------------------------------------------------------
## Posts, Post and Comment Navigation
--------------------------------------------------------------*/
.comment-navigation,
.posts-navigation,
.post-navigation {
	@include clearfix;
	margin: 0 0 60px;
	width: 100%;

	.nav-previous {
		float: left;
		text-align: left;
		width: 50%;

		@media (max-width: 768px) {
			float: none;
			margin-bottom: 25px;
		}
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;

		@media (max-width: 768px) {
			float: none;
			text-align: left;
		}
	}
}

.pagination {
	@include clearfix-after;
	padding-top: 30px;
	text-align: center;
	width: 100%;

	.page-numbers {
		border: 1px solid $color__text-medium;
		color: $color__text-medium;
		display: inline-block;
		font-family: $font__main;
		font-size: 0.9333em;
		line-height: normal;
		margin-right: 4px;
		padding: 11px 17px;
		transition: .3s;

		&:visited {
			color: $color__text-medium;
		}

		&:hover,
		&:focus {
			border-color: $color__accent;
			color: $color__accent;
		}

		&.next,
		&.prev {
			font-family: Verdana;
			padding: 12px 13px;
		}

		&.dots {
			border: none;
			font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
			font-size: 13px;
			padding-right: 0;
			padding-left: 0;

			&:hover {
				background: none;
				color: $color__text-medium;
			}
		}
	}

	.current {
		border-color: $color__accent;
		color: $color__accent;
	}
}

.post-navigation {
	border-top: 1px solid $color__background-hr;
	margin-bottom: 0;
	padding: 40px 0;

	a {
		display: block;
		line-height: 0;

		img {
			display: inline-block;
			margin-right: 15px;
			max-width: 80px;

			@media (max-width: 1136px) {
				display: none;
			}
		}

		.nav-innner {
			display: inline-block;
			vertical-align: top;
			width: 74%;

			@media (max-width: 1136px) {
				width: 100%;
			}
		}

		span {
			color: $color__text-light;
			display: block;
			font-size: 13px;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: .5px;
			line-height: normal;
			margin: 8px 0 1px;
		}

		div {
			color: $color__text-dark;
			font-family: $font__headings;
			font-weight: 600;
			font-size: 15px;
			line-height: normal;
			transition: .3s;
		}

		&:hover div {
			color: $color__accent;
		}
	}

	.nav-next img {
		margin: 0 0 0 15px;
	}
}

.comment-navigation {
	text-transform: capitalize;
	margin: 25px 0;

	span {
		font-size: 13px;
		position: relative;
		right: 0;
		top: 1px;

		&.icon-long-arrow-left {
			padding-right: 3px;
		}

		&.icon-long-arrow-right {
			padding-left: 3px;
		}
	}

	a {
		color: $color__text-medium;
		font-size: 14px;
		font-weight: bold;
		font-weight: 600;

		&:hover {
			color: $color__accent;
		}
	}
}

/*--------------------------------------------------------------
## Footer Menu
--------------------------------------------------------------*/
.footer-menu {
	font-size: 13px;
	text-align: right;

	@media (max-width: 768px) {
		padding-top: 15px;
		text-align: center;
		width: 100%;
	}

	> div {
		display: inline-block;
	}

	.menu {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			font-size: 13px;
			margin-right: 15px;
			padding: 0;
			vertical-align: middle;

			&:after {
				padding: 0 12px;
			}

			&:last-of-type:after {
				content: none;
				padding: 0;
			}

			a {
				color: inherit;

				&:hover {
					color: #fff;
				}

				&:before {
					color: #fff;
				}

				&:hover:before {
					background: #818388;
				}
			}

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}
