.woocommerce {
	
	&.archive .page-title {
		text-align: left
	}

	.term-description {
		margin: 5px 0 25px;
	}

	.woocommerce-result-count {
		align-items: flex-end;
		color: $color__text-light;
		display: flex;
		float: left;
		font-size: 14px;
		height: 37px; 
		justify-content: left;
		text-align: left;

		@media (max-width: 768px) {
			float: none;
			margin-bottom: 15px;
		}
	}

	.woocommerce-ordering {
		display: block;
		float: right;

		select {
			font-size: 13px;
		}

		@media (max-width: 768px) {
			float: none;
		}

		.ordering-selector-wrapper {
			border: 1px solid $color__background-hr-dark;
			border-radius: 2px;
			cursor: pointer;
			font-size: 13px;
			line-height: normal;
			padding: 10px 15px;
			position: relative;

			.current {
				display: inline-block;
			}

			svg {
				float: right;
				margin: 5px 0 0 10px;
				transform: rotate(0deg);

				path {
					fill: $color__text-medium;
				}
			}

			&:hover {
				color: $color__text-dark;

				svg path {
					fill: $color__text-dark;
				}
			}

			.ordering-dropdown-container {
				left: -1px;
				min-height: 1px;
				position: absolute;
				right: -1px;
				top: 100%;
				z-index: 999;
			}

			.ordering-dropdown {
				background: #fff;
				border: 1px solid $color__background-hr-dark;
				box-shadow: 0 1px 1px rgba(0, 0, 0, .07);
				display: block;
				list-style: none;
				margin: 0;
				opacity: 0;
				padding: 5px 0;
				position: absolute;
				top: 0;
				transition: all 0.15s ease-in;
				transform-origin: center top;
				transform: scale(.95);
				visibility: hidden;
				width: 100%;

				li {
					color: $color__text-light;
					cursor: pointer;
					padding: 10px 15px;
					position: relative;
					white-space: nowrap;

					&:hover {
						color: $color__text-dark;
					}
				}
			}

			&.open-dropdown {

				.ordering-dropdown {
					opacity: 1;
					transform: scale(1);
					visibility: visible;
				}

				svg {
					transform: rotate(180deg);

					path {
						fill: $color__text-dark;
					}
				}
			}
		}
	}

	// Sale Sticker.
	.onsale {
		background: $color__accent;
		color: #fff;
		font-size: 12px;
		right: 10px;
		line-height: normal;
		padding: 6px 12px 5px;
		position: absolute;
		text-transform: uppercase;
		top: 10px;
		z-index: 1;

		@at-root .single-product#{&} {
			left: 10px;
			right: initial;
		}
	}

	// Star Rating.
	.star-rating {
		color: $color__accent;
		font-family: 'star';
		font-size: 1em;
		height: 1em;
		line-height: 1;
		overflow: hidden;
		position: relative;
		width: 5.4em;

		&:before {
			content: '\73\73\73\73\73';
			color: $color__accent;
			float: left;
			left: 0;
			position: absolute;
			top: 0;
		}

		span {
			float: left;
			left: 0;
			overflow: hidden;
			padding-top: 1.5em;
			position: absolute;
			top: 0;
		}

		span:before {
			content: '\53\53\53\53\53';
			left: 0;
			position: absolute;
			top: 0;
		}
	}

	a .star-rating {
		color: $color__accent;
	}

	// Products list.
	.products {
		clear: both;
		@include clearfix;
		list-style: none;
		margin: 0;

		@at-root .post-type-archive-product#{&} {
			padding-top: 30px; 
		}

		@at-root .tax-product_cat#{&} {
			padding-top: 30px; 
		}

		&.columns-1 .product,
		&.columns-6 .product,
		&.columns-7 .product,
		&.columns-8 .product,
		&.columns-9 .product,
		&.columns-10 .product {
			float: none;
			margin-right: 0;
		}

		&.columns-2 .product {
			width: 48.25%;

			@media (min-width: 769px) {

				&:nth-of-type(2n+2) {
					margin-right: 0;
				}

				&:nth-child(2n+3) {
					clear: left;
				}
			}
		}

		&.columns-3 .product {
			width: 31%;

			@media (min-width: 769px) {

				&:nth-of-type(3n+3) {
					margin-right: 0;
				}

				&:nth-child(3n+4) {
					clear: left;
				}
			}
		}

		&.columns-4 .product {
			width: 22.375%;
			
			@media (min-width: 769px) {
			
				&:nth-of-type(4n+4) {
					margin-right: 0;
				}

				&:nth-child(4n+5) {
					clear: left;
				}
			}
		}

		&.columns-5 .product {
			width: 17.2%;

			@media (min-width: 769px) {
			
				&:nth-of-type(5n+5) {
					margin-right: 0;
				}

				&:nth-child(5n+6) {
					clear: left;
				}
			}
		}

		@media (max-width: 768px) {

			&.columns-2 .product,
			&.columns-3 .product,
			&.columns-4 .product,
			&.columns-5 .product {
				width: 48.25%;
			}

			.product:nth-of-type(2n+2) {
				margin-right: 0;
			}
		}

		@media (max-width: 480px) {

			&.columns-2 .product,
			&.columns-3 .product,
			&.columns-4 .product,
			&.columns-5 .product {
				width: 100%;
			}
		}

		// Product list item.
		.product {
			float: left;
			margin: 0 3.5% 43px 0;
			text-align: center;
			width: 100%;

			// Product thumbnail container.
			.loop-product-thumbnail {
				background: #000;
				position: relative;

				img {
					opacity: 1;
				}

				&:hover {

					.add_to_cart_button,
					.product-quick-view-button,
					.product_type_grouped,
					.product_type_variable,
					.product_type_external {
						opacity: 1;
						visibility: visible;
					}

					@at-root .woocommerce-product-overlay .products .product .loop-product-thumbnail:hover img {
						opacity: 0.3;
					}
				}
			}

			// Product image.
			img {
				display: block;
				margin: 0 auto;
				width: 100%;
			}

			// Product or category title.
			.woocommerce-loop-product__title,
			.woocommerce-loop-category__title {
				font-size: 14px;
				line-height: normal;
				text-transform: uppercase;
				margin: 27px 0 2px;

				&:hover {
					color: $color__accent;
				}

				mark {
					background: none;
				}
			}

			// Star rating.
			.star-rating {
				display: block;
				font-size: 0.866rem;
				margin: 6px auto 10px;
			}

			// Product price.
			.price {
				display: block;
				font-size: 14px;
				margin-bottom: 0;
			}

			.add_to_cart_button,
			.product-quick-view-button,
			.product_type_grouped,
			.product_type_variable,
			.product_type_external,
			.added_to_cart {
				display: block;
				font-size: 14px;
				transition: .3s;
				left: 50%;
				opacity: 0;
				position: absolute;
				transform: translateX( -50% );
				visibility: hidden;
				white-space: nowrap;
			}

			.add_to_cart_button,
			.product_type_grouped,
			.product_type_variable,
			.product_type_external {
				bottom: 20%;
			}

			.product-quick-view-button {
				background: #656970;
				border-radius: 50%;
				content: "";
				display: block;
				height: 40px;
				top: 20%;
				width: 40px;

				&:hover {
					background: rgba(101, 105, 112, .8);
				}

				svg {
					height: 16px;
					margin-top: 12px;
					width: 16px;

					path {
						fill: #fff;
					}
				}
			}

			// Select Options button.
			.product_type_variable {
				padding: 11px 15px;
			}

			// Added to Cart button.
			.added_to_cart {
				background: $color__accent;
				bottom: 10px;
				color: #fff;
				font-size: 12px;
				font-weight: 500;
				letter-spacing: .5px;
				opacity: 1;
				padding: 6px 12px 5px;
				text-transform: uppercase;
				visibility: visible;

				&:hover {
					background: rgba($color__accent, .8);
					color: #fff;
				}
			}
		}
	}

	.price {
		color: $color__text-medium;
		
		ins {
			background: none;
			color: $color__accent;
		}
	}
}
