.woocommerce-cart {

	.entry-content {
		padding: 0;
	}

	p.cart-empty {
		display: block;
		margin-bottom: 26px !important;
	}

	.return-to-shop .wc-backward {
		display: inline-block;
	}

	table.cart {
		background: #fff;
		text-align: left;

		thead {
			border: 1px solid $color__background-hr-dark;

			@media (max-width: 768px) {
				display: none;
			}

			th {
				font-size: 14px;
			}
		}

		tr {
			border: 1px solid $color__background-hr-dark;

			th,
			td {
				padding: 14px;
				text-transform: uppercase;

				@media (max-width: 768px) {
					display: block;
					text-align: right;
				}
			}

			td {
				padding: 20px;
			}
		}

		.cart_item {
			font-size: 14px;

			@media (max-width: 768px) {

				td:before {
					color: $color__text-dark;
					content: attr(data-title) ": ";
					font-weight: 600;
					float: left;
					font-size: 14px;
				}

				td:first-of-type {
					padding-top: 30px;
				}

				td:last-of-type {
					padding-bottom: 30px;
				}
			}

			a {
				color: $color__text-dark;
				display: block;
				font-weight: bold;

				&:hover {
					color: $color__text-medium;
				}
			}

			dl.variation dd {
				margin-left: 0;
			}

			.product-remove {
				font-size: 20px;
				text-align: center;

				a {
					color: $color__text-medium;

					&:hover {
						color: $color__text-light;
					}
				}

				&:before {
					content: none;
				}

				@media (max-width: 768px) {
					text-align: left;
				}
			}

			.product-thumbnail {

				img {
					display: block;
					height: auto;
					width: 80px;
				}

				&:before {
					content: none;
				}
			}

			.product-quantity {

				input {
					font-size: 14px;
					width: 60px;
				}
			}
		}

		td.actions {
			text-align: right;

			@media (max-width: 768px) {
				display: block;

				* {
					width: 100%;
				}
			}

			.coupon {
				float: left;

				@media (max-width: 768px) {
					float: none;
					margin-bottom: 5px;
				}

				label {
					color: $color__text-dark;
					font-weight: bold;

					@media (max-width: 768px) {
						display: none;
					}
				}

				input {
					margin-right: 5px;

					@media (max-width: 768px) {
						margin-bottom: 10px;
					}
				}
			}
		}
	}

	.cart-collaterals {
		width: 100%;

		.cross-sells {
			float: left;
			margin: 40px 0 -50px;
			padding-right: 5%;
			width: 50%;

			@media (max-width: 768px) {
				padding-right: 0;
				width: 100%;
			}
		}

		.cart_totals {
			float: right;
			margin-top: 40px;
			width: 50%;

			@media (max-width: 768px) {
				width: 100%;
			}
		}
	}

	.cross-sells {

		h2 {
			font-size: 20px;
			margin: 0 0 20px;
			text-transform: uppercase;
		}

		.product {
			margin-bottom: 25px;
			width: 48.25%;

			@media (min-width: 769px) {

				&:nth-of-type(2n+2) {
					margin-right: 0;
				}

				&:nth-child(2n+3) {
					clear: left;
				}
			}

			@media (max-width: 768px) {
				width: 48.25%;

				&:nth-of-type(2n+2) {
					margin-right: 0;
				}
			}

			@media (max-width: 480px) {
				width: 100%;
			}
		}
	}

	.cart_totals {
		background: #fff;
		border: 1px solid #d6d6d6;
		padding: 23px 20px 30px;
		text-align: left;

		h2 {
			font-family: $font__main;
			font-size: 16px;
			font-weight: bold;
			margin: 0 0 2px;
			text-transform: uppercase;

			@media (max-width: 768px) {
				font-size: 23px;
			}

			@media (max-width: 480px) {
				font-size: 20px;
			}
		}

		table {
			margin-bottom: 20px;

			tr {
				border: none;
				border-bottom: 1px solid $color__background-hr-dark;
			}

			th,
			td {
				padding: 14px 0 12px;
			}

			th {
				color: $color__text-dark;
				font-size: 14px;
				padding-right: 16px;
			}

			td {
				color: $color__text-medium;
				text-align: right;

				ul {
					list-style: none;
					margin: 0 0 14px;
				}

				.woocommerce-shipping-destination {
					margin-bottom: 14px;
				}
			}
		}

		.shipping-calculator-form {
			margin: 8px 0;
		}

		form span {
			text-align: left;
		}

		.wc-proceed-to-checkout {
			text-align: right;
		}

		.checkout-button {
			display: inline-block;
			font-size: 16px;

			@media (max-width: 768px) {
				display: block;
				text-align: center;
				width: 100%;
			}
		}
	}
}

// Mini cart.
.site-header {

	.shopping-cart {
		display: inline-block;

		li {
			font-size: initial;
			text-transform: none;
		}

		> li:first-of-type {
			padding: 0;
		}
	}

	.shopping-cart-text {
		display: none;
	}

	.shopping-cart-link {
		display: inline-block;
		font-family: $font__headings;
		position: relative;

		svg {
			display: inline-block;
			fill: $color__navigation-link;
			position: relative;
			height: 18.84px;
			vertical-align: text-bottom;
			width: 20px;

			@at-root .overlap-light .site-header:not(.stuck) .shopping-cart-link svg {
				fill: #fff;
			}

			@at-root .overlap-dark .site-header:not(.stuck) .shopping-cart-link svg {
				fill: #2d2d2d;
			}
		}

		.shopping-cart-count {
			background: $color__accent;
			border-radius: 50%;
			color: #fff;
			font-size: 9px;
			height: 18px;
			line-height: 18px;
			min-width: 18px;
			padding-left: 1px;
			position: absolute;
			right: -18px;
			transition: .3s;
			text-align: center;
			top: -9px;
		}

		&:hover {

			svg {

				.overlap-light .site-header:not(.stuck) & {
					fill: rgba(255, 255, 255, .8);
				}

				.overlap-dark .site-header:not(.stuck) & {
					fill: rgba(45, 45, 45, .8);
				}
			}

			.shopping-cart-count {
				background: rgba($color__accent, .8);
			}

			.shopping-cart-text {
				color: $color__text-medium;
			}
		}
	}

	.shopping-cart-dropdown {
		background: #fff;
		box-shadow: 0 0 12px rgba(0, 0, 0, .16);
		opacity: 0;
		position: absolute;
		right: 0;
		text-align: left;
		top: 100%;
		transform: scale(0.95);
		transition: all 0.15s ease-in;
		transform-origin: center top;
		visibility: hidden;
		width: 300px;
		z-index: 99999;

		* {
			font-family: $font__main;
		}

		.widget {
			margin: 20px;
			max-height: 70vh;
			overflow-y: auto;

			li {
				overflow: initial;
			}

			.blockOverlay[style] {
				background-color: #fff !important;
			}

			.woocommerce-mini-cart__empty-message {
				display: block;
				font-size: 14px;
				font-weight: 600;
				margin: 0;
				text-transform: none;
			}
		}
	}
}
