.woocommerce-checkout .entry-content {
	padding: 0;

	h3 {
		font-size: 24px;
		font-weight: 500;

		label {
			font-weight: 600;
		}
	}
}

form.checkout > .blockUI {
	position: fixed !important;
}

.woocommerce {

	.checkout_coupon {

		.form-row-first,
		.form-row-last {
			float: left;
			padding-right: 5px;
			width: 25%;

			@media (max-width: 768px) {
				width: 50%;
			}
		}

		.form-row-last {
			width: 60%;

			@media (max-width: 768px) {
				width: 50%;
			}
		}
	}

	.woocommerce-billing-fields {
		margin-bottom: 24px;

		@media (max-width: 768px) {
			padding: 19px 20px 0;
		}

		h3 {
			margin: 20px 0 11px;
		}
	}

	.woocommerce-account-fields {

		@media (max-width: 768px) {
			padding: 0 20px 0;
		}
	}

	.woocommerce-shipping-fields {

		@media (max-width: 768px) {
			padding: 0 20px 0;
		}

		input[type="checkbox"] {
			margin-right: 5px;
		}

		.shipping_address {
			margin-bottom: 30px;
		}
	}

	.panel-grid-cell .woocommerce-shipping-fields {

		@media (max-width: 768px) {

			h3 {
				margin-top: 0;
			}
		}
	}

	.woocommerce-additional-fields {

		@media (max-width: 768px) {
			padding: 19px 20px 4px;
		}

		h3 {
			margin: 0 0 11px;
			padding-top: 25px;

			@media (max-width: 768px) {
				padding-top: 0;
			}
		}
	}

	// Order review.
	#order_review {
		clear: right;
		float: right;
		width: 48%;

		@media (max-width: 768px) {
			clear: none;
			float: none;
			width: 100%;
		}

		table {

			thead {
				border: none;
			}

			tr {
				border: none;
				border-bottom: 1px solid $color__background-hr-dark;

				ul {
					list-style: none;
					margin: 0;
				}
			}
		}
	}

	// Order review section in SO WC Template Builder.
	.panel-grid-cell #order_review {
		clear: none;
		float: none;
		width: 100%;
	}

	.woocommerce-checkout-review-order {
		background: #fff;
		border: 1px solid $color__background-hr-dark;
		padding: 19px 20px 4px;

		h3 {
			margin: 0 0 6px;
		}
	}

	table.woocommerce-checkout-review-order-table {

		thead th {
			font-size: 14px;
		}

		tr {
			border-bottom: 1px solid $color__background-hr-dark;
		}

		th,
		td {
			padding: 14px 0 13px;
			text-align: left;
		}

		.cart_item {
			font-size: 14px;

			@media (max-width: 768px) {

				td:first-of-type {
					padding-top: 30px;
				}

				td:last-of-type {
					padding-bottom: 30px;
				}
			}

			dl.variation dd {
				margin-left: 0;
			}
		}

		tfoot {
			color: $color__text-dark;

			tr {
				border-bottom: 1px solid $color__background-hr-dark;
			}
		}
	}

	#payment {

		.payment_methods {
			list-style: none;
			margin: 0;

			> li {
				border-bottom: 1px solid $color__background-hr-dark;
				padding: 14px 0;
				position: relative;
				text-align: left;

				&.woocommerce-notice {
					padding: 14px;
				}

				label {
					font-weight: 600;

					a {
						font-size: 12px;
						font-weight: normal;
						margin-left: 5px;

						@media (max-width: 480px) {
							margin-left: 0;
						}
					} 
				}

				input {
					margin-right: 5px;
				}

				img:only-of-type {
					max-height: 50px;
					position: absolute;
					right: 0;
					top: 8px;

					@media (max-width: 480px) {
						display: block;
						padding-top: 5px;
						position: static;
					}
				}

				.payment_box {
					font-size: 14px;
					padding: 10px 0 0;

					&.payment_method_paypal {
						padding-top: 20px;
					}

					p {
						margin-bottom: 0;
					}
				}

				&.payment_method_paypal {
					padding: 23px 0;
				}

				&.payment_method_stripe {

					input {
						top: 19px !important;
					}

					.wc-credit-card-form {
						border: none;
						margin: 0;
						padding: 0;
					}

					.form-row-first,
					.form-row-last {
						margin-bottom: 0;
					}

					p {
						margin-bottom: 13px;
					}

					.stripe-icon {
						float: right;
						margin-left: 5px;
						padding-left: 0;
					}
				}

				&.payment_method_paylike {

					img {
						float: right;
						margin-left: 5px;
						padding-left: 0;
					}
				}
			}

			.woocommerce-error {
				clear: both;
				margin-bottom: 0;
			}
		}

		.form-row {

			select {
				width: auto;
			}
		}

		.woocommerce-terms-and-conditions-wrapper {
			font-size: 14px;
			padding: 14px 0 0;

			p {
				margin-bottom: 14px;

				&.validate-required {
					margin-bottom: 0;
				}
			}
		}

		#place_order {
			float: right;
			font-size: 16px;
			margin-top: 30px;
		}
	}
}
