.woocommerce-checkout .entry-content {
	padding: 0; 
}

.woocommerce {

	.checkout_coupon {

		.form-row-first,
		.form-row-last {
			float: left;
			padding-right: 5px; 
			width: 25%;
			
			@media (max-width: 768px) {
				width: 50%;
			}
		}

		.form-row-last {
			width: 60%;
			
			@media (max-width: 768px) {
				width: 50%;
			}			
		}		
		
	}

	// Billing and shipping details.
	.col2-set {
		float: left;
		width: 47.8260869565%;
		
		@media (max-width: 768px) {
			float: none;
			width: 100%; 
		}
	}	

	// Order review.
	#order_review_heading,
	#order_review {
		clear: right; 
		float: right;
		width: 47.8260869565%;
		
		@media (max-width: 768px) {
			clear: none;
			float: none;
			width: 100%; 
		}
	}

	table.woocommerce-checkout-review-order-table {
		
		thead {
			border: 1px solid $color__background-hr-dark;		
			
			th {
				background: $color__background-hr;
				font-size: 14px;
			}		
		}
		
		
		th,
		td {
			padding: 20px;
			text-align: left;
		}

		.cart_item {
			border: 1px solid $color__background-hr-dark;
			font-size: 14px;
			
			@media (max-width: 768px) {

				td:first-of-type {
					padding-top: 30px;
				}

				td:last-of-type {
					padding-bottom: 30px; 
				}
			}
		}
		
		tfoot {

			tr {
				border-bottom: 1px solid $color__background-hr-dark; 
			}
			
			th,
			td {
				padding: 20px;
			}
			
			td {
				text-align: left;
			}			
		}
	}

	#payment {

		.payment_methods {
			list-style: none;
			margin: 0;
			
			li {
				border-bottom: 1px solid $color__background-hr-dark;
				padding: 20px;
				position: relative;
				text-align: left;
				
				label {
					
					a {
						font-size: 12px; 
						font-weight: normal;
						margin-left: 5px; 
					} 
				}

				input {
					margin-right: 5px;
				}
				
				img:only-of-type {
					max-height: 50px;
				    position: absolute;
				    right: 0;
				    top: 8px; 
				}

				.payment_box {
					font-size: 14px; 
					padding: 10px 0 0;
					
					&.payment_method_paypal {
						padding-top: 20px; 
					}
				}

				&.payment_method_stripe {
					
					img {
						margin-top: -10px; 
						position: absolute;
						top: 50%;
						
						&:nth-of-type(3) {
							right: 0;
						}

						&:nth-of-type(2) {
							right: 37px;
						}	

						&:nth-of-type(1) {
							right: 74px;
						}											
					}				
				}
			}
		}

		.form-row {

			select {
				width: auto;
			}
		}

		.wc-terms-and-conditions, 
		.terms {
			float: left;
			padding: 0 1em 0 0;
			text-align: left;
		}

		#place_order {
			float: right;
			font-size: 16px;
			margin-top: 30px;  
		}
	}
}
