.woocommerce-account {
		
	h2 {
		font-size: 23px; 
		margin-bottom: 10px;
	}
	
	.login {

		@media (min-width: 769px) {
			max-width: 75%;
		}
		
		label[for*="rememberme"] {
			font-size: 13px; 
			font-weight: normal; 
			line-height: normal;
			margin-top: 10px;
		}
		
		.lost_password {
			font-size: 13px;
			margin-top: -14px;
		}
	}

	.register {

		@media (min-width: 769px) {
			max-width: 75%;
		}
	}

	.woocommerce-MyAccount-navigation {
		background: #fff;
		border: 1px solid $color__background-hr-dark;
		float: left;
		margin-right: 4%; 
		width: 26%;
		
		@media (max-width: 768px) {
			float: none;
			margin: 0;
			width: 100%; 
		}		
		
		ul {
			font-size: 14px; 
			list-style: none;
			margin: 0;
			padding: 15px 25px;
			
			li {
				line-height: 2.5;
				
				a {
					color: $color__text-medium;
					
					&:hover {
						color: $color__accent;
					}
				}
			}
		}
	}

	.woocommerce-MyAccount-content {
		float: right;
		width: 70%;
		
		@media (max-width: 768px) {
			float: none;
			margin-top: 50px; 
			width: 100%; 
		}

		h3 {
			margin-top: 0;
		}

		p {
			margin-bottom: 26px;
			
			span em {
				font-size: 13px;
			}
		}

		// Tables
		.woocommerce-MyAccount-orders,
		.woocommerce-table--order-downloads {

			thead {
				
				@media (max-width: 768px) {
					display: none;
				}
			}
			
			tr {

				@media (max-width: 768px) {

					td {
						display: block;
						padding: 10px 20px;
						text-align: right;	
						
						&:before {
							color: $color__text-dark;	
							content: attr(data-title) ": ";
							font-weight: 600;
							float: left;
							font-size: 14px;
							text-transform: uppercase;
						}				

						&:first-of-type {
							padding-top: 30px;
						}

						&:last-of-type {
							padding-bottom: 30px; 
						}
					}
				}
			}
		}

		// Addresses.
		.col2-set {
			float: none;
			width: 100%; 
		}

		.woocommerce-Address {
			float: left;
			position: relative;
			width: 50%;
			
			@media (max-width: 768px) {
				float: none;
				width: 100%; 
			}
			
			&.col-1 {
				padding-right: 2.5%;
					
				@media (max-width: 768px) {
					padding-right: 0; 
				}				
			}

			&.col-2 {
				padding-left: 2.5%;
				
				@media (max-width: 768px) {
					padding-left: 0; 
				}					
			}
		}

		// Password Change.
		.password-change {
			margin-bottom: 15px;
		}	
	}	
}

// Password Strength.
.woocommerce-password-strength {
	font-size: 14px;
	font-weight: 600;

	&.strong {
		color: $success;
	}

	&.short {
		color: $error;
	}

	&.bad {
		color: $error;
	}

	&.good {
		color: $info;
	}
}

// Order again button.
.order-again {
	margin: 25px 0 0;

	.button {
		display: inline-block;
	}
}

