.woocommerce-account {
		
	h2 {
		font-size: 23px; 
		margin-bottom: 10px;
	}
	
	.login {
		max-width: 50%;
		
		label[for*="rememberme"] {
			font-size: 13px; 
			font-weight: normal; 
			line-height: normal;
			margin-top: 10px;
			
			input {
			}
		}
		
		.lost_password {
			font-size: 13px; 
		}
	}

	.woocommerce-MyAccount-navigation {
		border: 1px solid $color__background-hr-dark;
		float: left;
		margin-right: 4%; 
		width: 26%;
		
		@media (max-width: 768px) {
			float: none;
			margin: 0;
			width: 100%; 
		}		
		
		ul {
			font-size: 14px; 
			list-style: none;
			margin: 0;
			padding: 15px 25px;
			
			li {
				line-height: 2.5;
				
				a {
					color: $color__text-medium;
					
					&:hover {
						color: $color__accent;
					}
				}
			}
		}
	}

	.woocommerce-MyAccount-content {
		float: right;
		width: 70%;
		
		@media (max-width: 768px) {
			float: none;
			margin-top: 50px; 
			width: 100%; 
		}

		h3 {
			margin-top: 0;
		}

		p {
			margin-bottom: 26px; 
		}

		// Addresses.
		.col2-set {
			float: none;
			width: 100%; 
		}

		.woocommerce-Address {
			float: left;
			position: relative;
			width: 50%;
			
			@media (max-width: 768px) {
				float: none;
				width: 100%; 
			}
			
			&.col-1 {
				padding-right: 2.5%;
					
				@media (max-width: 768px) {
					padding-right: 0; 
				}				
			}

			&.col-2 {
				padding-left: 2.5%;
				
				@media (max-width: 768px) {
					padding-left: 0; 
				}					
			}
		}
	}	
}