.woocommerce {

	form {

		p:first-of-type {
			margin-bottom: 24px;
		}

		.form-row {
			@include clearfix();
			margin-bottom: 24px;

			&#billing_address_1_field {
				margin-bottom: 10px;
			}

			label {
				display: block;
				margin-bottom: 4px;

				.required {
					color: $error;
					text-decoration: none;
				}

				&.inline {
					font-weight: normal;
				}

				&.checkbox {
					display: inline;
				}
			}

			select {
				width: 100%;
			}

			.input-text {
				box-sizing: border-box;
				width: 100%;
			}

			&.woocommerce-invalid {

				label {
					color: $error;
				}

				.select2-container,
				input.input-text,
				select {
					border-color: $error;
				}
			}

			&.woocommerce-validated {

				.select2-container,
				input.input-text,
				select {
					border-color: $success;
				}
			}
		}

		.form-row-first,
		.form-row-last {
			float: left;
			overflow: visible;
			width: 47.8260869565%;

			@media (max-width: 768px) {
				float: none;
				width: 100%;
			}
		}

		.form-row-last {
			float: right;
		}

		.form-row-wide {
			clear: both;
		}

		&.woocommerce-ordering,
		.corp-variations-wrapper {
	
			select {
				font-size: 13px;
			}

			@media (max-width: 768px) {
				float: none;
			}

			.ordering-selector-wrapper {
				border-radius: 2px;
				border: 1px solid $color__background-hr-dark;
				cursor: pointer;
				font-size: 13px;
				line-height: normal;
				padding: 10px 15px;
				position: relative;

				.current {
					display: inline-block;
				}

				svg {
					float: right;
					margin: 5px 0 0 10px;
					transform: rotate(0deg);

					path {
						fill: $color__text-medium;
					}
				}

				&:hover {
					color: $color__text-dark;

					svg path {
						fill: $color__text-dark;
					}
				}

				.ordering-dropdown-container {
					left: -1px;
					min-height: 1px;
					position: absolute;
					right: -1px;
					top: 100%;
					z-index: 999;
				}

				.ordering-dropdown {
					background: #fff;
					border: 1px solid $color__background-hr-dark;
					box-shadow: 0 1px 1px rgba(0, 0, 0, .07);
					display: block;
					list-style: none;
					margin: 0;
					opacity: 0;
					padding: 5px 0;
					position: absolute;
					top: 0;
					transition: all 0.15s ease-in;
					transform-origin: center top;
					transform: scale(.95);
					visibility: hidden;
					width: 100%;

					li {
						color: $color__text-light;
						cursor: pointer;
						padding: 10px 15px;
						position: relative;
						white-space: nowrap;

						&:hover {
							color: $color__text-dark;
						}
					}
				}

				&.open-dropdown {

					.ordering-dropdown {
						opacity: 1;
						transform: scale(1);
						visibility: visible;
					}

					svg {
						transform: rotate(180deg);

						path {
							fill: $color__text-dark;
						}
					}
				}
			}
		}
	}

	// Login form.
	.login {

		.clear ~ .form-row {
			margin-bottom: 0;
		}

		.button {
			margin-bottom: 13px;
		}

		.lost_password {
			font-size: 0.8125rem;
			padding-bottom: 26px;
		}
	}
}
