.woocommerce-message,
.woocommerce-error,
.woocommerce-info,
.woocommerce-store-notice {
	background: #f2f2f2;
	@include clearfix();
	color: $color__text-medium;
	font-size: 14px;
	line-height: 41px;
	margin: 0 0 25px;
	min-height: 71px;
	padding: 15px 20px;
	position: relative;
	word-wrap: break-word;

	@media (max-width: 768px) {
		font-size: 14px;
	}

	&.woocommerce-notice {
		line-height: 1.7333;
	}

	.button {
		display: block;
		float: right;

		@media (max-width: 768px) {
			font-size: 13px;
		}
	}

	a:not(.button) {
		color: $color__text-dark;
		font-weight: bold;
		margin-left: 5px;

		&:hover {
			color: $color__accent;
		}
	}
}

.woocommerce-error {
	display: block;
	color: $error;
	font-size: 14px;
	list-style: none;
	padding: 20px 20px;

	li {
		line-height: 2.5;
	}

	~ p {
		margin-bottom: 26px;
	}
}

.woocommerce-store-notice {
	justify-content: center;
	margin: 0;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 9999;
}
