.woocommerce-message,
.woocommerce-error,
.woocommerce-info,
.woocommerce-store-notice {
	align-items: center;
	background: $color__background-hr;
	@include clearfix();
	color: $color__text-dark;
	display: flex;
	font-size: 14px; 
	margin: 0 0 25px;
	min-height: 71px;
	padding: 15px 20px;
	position: relative;
	width: auto;
	word-wrap: break-word;
	
	@media (max-width: 768px) {
		font-size: 14px; 
	}

	.button {
		position: absolute;
		right: 20px;
		top: 15px;
				
		@media (max-width: 768px) {
			float: right;
			font-size: 13px;
			position: static;
		}		
	}

	a {
		margin-left: 5px; 
	}
}

.woocommerce-error {
	display: block;
	font-size: 14px; 
	list-style: none;
	padding: 20px 20px;
	
	li {
		line-height: 2.5; 
	}

	~ p {
		margin-bottom: 26px; 
	}
}

.woocommerce-store-notice {
	justify-content: center;
	margin: 0;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 9999;
}
