.woocommerce {

	.product {
		position: relative;

		.images {
			float: left;
			margin: 0 0 50px; 
			width: 48%;
			
			@media (max-width: 780px) {
				width: 100%; 
			}

			&.woocommerce-product-gallery {
				position: relative;
			}

			.woocommerce-product-gallery__wrapper {
				margin: 0;
				transition: all cubic-bezier(0.795, -0.035, 0.000, 1.000) .5s;
				
				img {
					display: block;
					width: 100%; 
				}
			}

			.woocommerce-product-gallery__wrapper .zoomImg {
				background-color: #fff;
			}

			.flex-control-thumbs {
				list-style: none;
				margin: 0;

				li {
					cursor: pointer;
					float: left;
					margin: 2.5% 2.5% 0 0;
					width: 23.125%;
					
					&:nth-of-type(4n+4) {
						margin-right: 0; 
					}

					img {
						display: block;
						box-shadow: #000 0 0 0;
						opacity: .5;
						
						&.flex-active,
						&:hover {
							opacity: 1;
						}
					}
				}
			}

			.woocommerce-product-gallery__trigger {
				background: #fff;
				border-radius: 100%;
				box-sizing: content-box;
				font-size: 2em;
				height: 36px;
				position: absolute;
				right: .5em;
				text-indent: -9999px;
				top: .5em;
				width: 36px;
				z-index: 9;

				&:before {
					content: "";
					display: block;
					width: 10px;
					height: 10px;
					border: 2px solid #000;
					border-radius: 100%;
					position: absolute;
					top: 9px;
					left: 9px;
					box-sizing: content-box;
				}

				&:after {
					content: "";
					display: block;
					width: 2px;
					height: 8px;
					background: #000;
					border-radius: 6px;
					position: absolute;
					top: 19px;
					left: 22px;
					@include transform(rotate(-45deg));
					box-sizing: content-box;
				}
			}			
		}

		.summary,
		.product-info-wrapper {
			float: right;
			padding-top: 0;
			width: 48%;
			
			@media (max-width: 786px) {
				float: none;
				width: 100%; 
			}
			
			.entry-title {
				font-size: 26px;
			}

			.star-rating {
				float: left;
				font-size: 14px; 
				margin: 6px 5px 0 0; 
			}		

			.woocommerce-review-link {
				color: $color__text-light;
				font-size: 13px;
				text-transform: capitalize;
				
				&:hover {
					color: $color__accent;
				}
			}

			.price {
				font-size: 18px;
				margin-bottom: 25px;
			}

			.woocommerce-product-details__short-description {
				margin-bottom: 25px;
				
				p {
					margin-bottom: 26px;
					
					&:only-of-type,
					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}		

			.variations {
				font-size: 14px;
				margin-bottom: 30px; 

				.label {
					text-transform: capitalize;
				}

				select {
					font-size: 14px; 
				}

				.reset_variations {
					color: $color__text-medium;
					font-size: 13px;
					margin-left: 10px; 
					
					&:hover {
						color: $color__accent;
					}
				}
			}

			.woocommerce-variation .woocommerce-variation-price .price {
				display: block;
				margin-top: -25px; 
				width: 100%; 
			}

			.stock {
				color: $color__accent;
				font-size: 13px;
				margin-bottom: 25px;
			}

			.cart {
				margin-bottom: 35px; 
			}

			.quantity {
				display: inline-block;

				input {
					margin-right: 5px; 
					max-width: 60px;
				}
			}

			.single_add_to_cart_button {
				display: inline-block;
			}

			.product_meta {
				border-top: 1px solid $color__background-hr; 
				color: $color__text-dark;
				font-size: 13px;
				padding-top: 25px;
				
				@media (max-width: 786px) {
					margin-bottom: 50px; 
				}
				
				> span {
					display: block;
					font-weight: bold;
					font-weight: 600;  	
				}
				
				span span {
					font-weight: normal; 
				}

				a {
					color: $color__text-medium;
					font-weight: normal; 
				
					&:hover {
						color: $color__accent;
					}
				}
			}
		}

		.woocommerce-tabs {
			@include clearfix-after;
			margin-bottom: 50px;
			
			h2 {
				@extend .underline;
				font-size: 14px;
			}

			.wc-tabs {
				list-style: none;
				margin: 0;
				overflow: hidden;
				position: relative;

				li {
					display: inline-block;
					font-family: $font__headings; 
					margin: 0 30px 0 0;
					padding-bottom: 5px; 
					text-transform: uppercase;
					
					a {
						color: $color__text-dark;
						font-weight: 500; 
						display: inline-block;
						outline: 0; 
					}

					&.active {
						border-bottom: 2px solid $color__accent;
					}
				}
			}

			.wc-tab {
				padding-top: 25px; 
			}			
		}

		.woocommerce-Reviews {

			.woocommerce-noreviews {
				font-size: 14px; 
				margin-bottom: 16px;  
			}

			ol {
				list-style: none;
				margin: 0;
			}

			.comment_container {
				border-bottom: 1px solid $color__background-hr;
				padding: 25px 0;			
			}

			.comment_container img {
				border-radius: 50%;
				display: block;
				float: left;
			}				

			.comment-text {
				margin-left: 80px;
			}

			.star-rating {
				margin-bottom: 5px; 
			}

			.meta {
				color: $color__text-dark;
				font-size: 14px;
				font-weight: bold; 
				font-weight: 600;
				line-height: normal; 

				a {
					color: $color__text-dark;
					text-decoration: none;
					
					&:hover {
						color: $color__text-medium;
					}
				}				
			}

			.comment-date {
				color: $color__text-light;
				font-size: 13px; 
				line-height: normal;
				margin-bottom: 15px; 
			}

			.description {
				font-size: 14px; 
			}

			.comment-reply-title {
				border: none;
				margin-bottom: 15px; 
				padding-bottom: 0;
				text-transform: none;  
			}

			.comment-respond {
				margin-top: 25px; 
			}

			.stars {

				a {
					position: relative;
					height: 1em;
					width: 1em;
					text-indent: -999em;
					display: inline-block;
					text-decoration: none;
					
					&:hover {
						color: $color__accent;
					}

					&:before {
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						width: 1em;
						height: 1em;
						line-height: 1;
						font-family: "WooCommerce";
						content: "\e021";
						text-indent: 0;
					}

					&:hover {

						~ a:before {
							content: "\e021";
						}
					}
				}

				&:hover {

					a {
						&:before {
							content: "\e020";
						}
					}
				}

				&.selected {

					a.active {
					
						&:before {
							content: "\e020";
						}

					~ a:before {
							content: "\e021";
						}
					}

					a:not(.active) {

						&:before {
							content: "\e020";
						}
					}
				}
			}			
		}

		// Upsells.
		.upsells {
			
			> h2 {
				@extend .underline;
				font-size: 16px;
			}

			.product {
				margin-bottom: 50px; 
			}
		}

		// Related products.
		.related {

			> h2 {
				@extend .underline;
				font-size: 16px;
			}

			.product {
				margin-bottom: 25px; 
			}				
			
			@media (min-width: 769px) {
				
				.product {
					margin-bottom: 0; 
				}
			}
		}

		// Upsells and related products.
		.woocommerce-tabs ~ .products .product {
			margin-right: 3.5%; 
			width: 22.37%;
			
			@media (min-width: 769px) {

				&:nth-of-type(3n+1) {
					clear: none;
				}				
			
				&:nth-of-type(3n+3) {
					margin-right: 3.5%; 
				}

				&:nth-of-type(3n+4) {
					margin-right: 0; 
				}											
			}				
			
			@media (max-width: 768px) {
					
				&:nth-of-type(3n+2) {
					margin-right: 0; 
				}	
				
				width: 48.25%;		
			}

			@media (max-width: 480px) {
				margin-right: 0;
				width: 100%; 
			}				

		}		
	}
}
