.woocommerce {

	&.single-product .site-main {
		margin: 0;
	}

	.product {
		position: relative;

		.images {
			float: left;
			margin: 0 0 53px;
			width: 48.68%;

			@media (max-width: 780px) {
				width: 100%;
			}

			&.woocommerce-product-gallery {
				position: relative;
			}

			.woocommerce-product-gallery__wrapper {
				margin: 0;
				transition: all cubic-bezier(0.795, -0.035, 0.000, 1.000) .5s;

				img {
					display: block;
					width: 100%;
				}
			}

			.woocommerce-product-gallery__wrapper .zoomImg {
				background-color: #fff;
			}

			.flex-control-thumbs {
				list-style: none;
				margin: 0;

				li {
					cursor: pointer;
					float: left;
					margin: 25px 24px 0 0;
					width: 21.624%;

					&:nth-of-type(4n+4) {
						margin-right: 0;
					}

					img {
						box-shadow: #000 0 0 0;
						display: block;
						opacity: .5;

						&.flex-active,
						&:hover {
							border: 1px solid #828282;
							opacity: 1;
						}
					}
				}
			}

			.woocommerce-product-gallery__trigger {
				background: #fff;
				border-radius: 100%;
				box-sizing: content-box;
				font-size: 2em;
				height: 36px;
				position: absolute;
				right: .5em;
				text-indent: -9999px;
				top: .5em;
				width: 36px;
				z-index: 9;

				&:before {
					border: 2px solid #000;
					border-radius: 100%;
					box-sizing: content-box;
					content: "";
					display: block;
					height: 10px;
					left: 9px;
					position: absolute;
					top: 9px;
					width: 10px;
				}

				&:after {
					background: #000;
					border-radius: 6px;
					box-sizing: content-box;
					content: "";
					display: block;
					height: 8px;
					left: 22px;
					position: absolute;
					top: 19px;
					@include transform(rotate(-45deg));
					width: 2px;
				}
			}
		}

		.summary,
		.product-info-wrapper {
			float: right;
			padding-top: 0;
			width: 48.68%;

			@media (max-width: 786px) {
				float: none;
				width: 100%;
			}
		}

		.entry-title {
			font-size: 24px;
			text-transform: uppercase;
		}

		.woocommerce-product-rating {

			@at-root .woocommerce .product .panel-grid .woocommerce-product-rating {
				overflow: auto;
			}

			.star-rating {
				float: left;
				font-size: 14px;
				margin: 6px 5px 0 0;

				@at-root .woocommerce .product .panel-grid .woocommerce-product-rating .star-rating {
					float: none;
					margin: 0;
				}
			}
		}

		.woocommerce-review-link {
			color: $color__text-light;
			font-size: 13px;
			text-transform: capitalize;

			&:hover {
				color: $color__accent;
			}
		}

		.price {
			font-size: 24px;
			font-weight: 500;
			margin-bottom: 25px;
		}

		.woocommerce-product-details__short-description {
			margin-bottom: 35px;

			p {
				margin-bottom: 26px;

				&:only-of-type,
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}

		.variations {
			font-size: 14px;
			margin-bottom: 30px;

			tr {

				td {
					padding: 7.5px 0;
				}

				&:only-of-type td {
					padding-bottom: 0;
				}
			}

			.label {
				text-align: left;
				text-transform: capitalize;

				label {
					color: $color__text-dark;
					font-size: 14px;
					font-weight: bold;
				}
			}

			select {
				font-size: 14px;
				padding: 5px;
			}

			.reset_variations {
				color: $color__text-medium;
				font-size: 13px;
				margin-left: 10px;

				@at-root .no-js.woocommerce .product .variations .reset_variations {
					display: none;
				}

				&:hover {
					color: $color__accent;
				}
			}

			// Variation Swatches for WooCommerce plugin.
			.woo-variation-items-wrapper {
				position: relative;

				.reset_variations {
					bottom: -10px;
					left: 0;
					margin-left: 0;
					position: absolute;
				}
			}
		}

		form.cart table.variations {

			.corp-variations-wrapper {
				display: inline-block;
				position: relative;
			}

			select {
				-webkit-appearance: none;
				padding: 1px 27px 0 10px;

				@at-root .no-js.woocommerce .product form.cart table.variations select {
					-webkit-appearance: auto;
					padding: 5px;
				}
			}
		}

		.woocommerce-variation .woocommerce-variation-price .price {
			display: block;
			width: 100%;
		}

		.woocommerce-grouped-product-list {
			margin-bottom: 25px;

			@media (min-width: 481px) {
				width: 75%;
			}

			td {

				input {
					margin-right: 10px;
				}

				label {
					font-size: 14px;
				}

				&:first-child {
					padding-bottom: 5px;
					width: 60px;
				}

				a {
					color: $color__text-medium;

					&:hover {
						color: $color__accent;
					}
				}
			}
		}

		.stock {
			color: $color__accent;
			font-size: 13px;
			margin-bottom: 25px;
		}

		.cart {
			margin-bottom: 30px;
		}

		.quantity {
			display: inline-block;

			input {
				margin-right: 5px;
				max-width: 60px;
			}
		}

		.single_add_to_cart_button {
			display: inline-block;
		}

		.product_meta {
			border-top: 1px solid $color__background-hr;
			color: $color__text-medium;
			font-size: 13px;
			padding: 25px 0;

			> span {
				display: block;
			}

			span span {
				font-weight: normal;
			}

			a {
				color: $color__text-dark;
				font-weight: normal;

				&:hover {
					color: $color__accent;
				}
			}
		}

		.woocommerce-tabs {
			@include clearfix-after;
			margin-bottom: 60px;

			h2 {
				color: $color__text-medium;
				font-size: 14px;
				letter-spacing: 1px;
				line-height: normal;
				margin: 0;
				text-transform: uppercase;
			}

			.wc-tabs {
				border-bottom: 1px solid $color__background-hr;
				list-style: none;
				margin: 0;

				@media (max-width: 786px) {
					margin-top: 25px;
				}

				li {
					display: inline-block;
					font-family: $font__headings;
					margin: 0 34px 0 0;
					padding-bottom: 7px;
					text-transform: uppercase;

					@media (max-width: 768px) {
						display: block;
						font-size: 0.9333rem;
						margin: 0 0 10px;
						padding-bottom: 0;
						width: auto;
					}

					a {
						color: $color__text-medium;
						font-weight: 600;
						outline: 0;

						&:hover {
							color: $color__text-dark;
						}
					}

					&.active {
						box-shadow: 0 2px 0 $color__accent;
						margin-bottom: 1px;

						a {
							color: $color__text-dark;
						}

						@media (max-width: 768px) {
							box-shadow: none;
							margin-bottom: 10px;

							a {
								color: $color__accent;
							}
						}
					}
				}
			}

			.wc-tab {
				padding-top: 25px;
			}
		}

		.shop_attributes {
			width: initial;

			tr {

				th.woocommerce-product-attributes-item__label {
					color: $color__text-dark;
					text-align: left;
					text-transform: capitalize;
					padding-left: 0;
				}

				th,
				td {
					padding: 8px 16px;
				}

				&:last-of-type {

					th,
					td {
						padding-bottom: 0;
					}
				}
			}
		}

		#tab-description p {
			margin-bottom: 26px;

			&:only-of-type,
			&:last-of-type {
				margin-bottom: 0;
			}
		}

		.woocommerce-Reviews {

			.woocommerce-noreviews {
				font-size: 14px;
				margin-bottom: 16px;
			}

			ol {
				list-style: none;
				margin: 0;
			}

			.comment_container {
				border-bottom: 1px solid $color__background-hr;
				padding: 25px 0;
			}

			.comment_container img {
				border-radius: 50%;
				display: block;
				float: left;
			}

			.comment-text {
				margin-left: 80px;
			}

			.star-rating {
				margin-bottom: 5px;
			}

			.meta {
				color: $color__text-dark;
				font-size: 14px;
				font-weight: bold;
				font-weight: 600;
				line-height: normal;

				a {
					color: $color__text-dark;
					text-decoration: none;

					&:hover {
						color: $color__text-medium;
					}
				}
			}

			.comment-date {
				color: $color__text-light;
				font-size: 13px;
				line-height: normal;
				margin-bottom: 15px;
			}

			.description {
				font-size: 14px;
			}

			.comment-reply-title {
				color: $color__text-medium;
				display: block;
				font-size: 14px;
				font-weight: bold;
				letter-spacing: 1px;
				line-height: normal;
				margin: 0;
				padding-bottom: 20px;
				text-transform: uppercase;
			}

			.comment-respond {
				margin-top: 25px;
			}

			.stars {

				a {
					display: inline-block;
					height: 1em;
					position: relative;
					text-decoration: none;
					text-indent: -999em;
					width: 1em;

					&:hover {
						color: $color__accent;
					}

					&:before {
						content: "\e021";
						display: block;
						font-family: "WooCommerce";
						height: 1em;
						left: 0;
						line-height: 1;
						position: absolute;
						text-indent: 0;
						top: 0;
						width: 1em;
					}

					&:hover {

						~ a:before {
							content: "\e021";
						}
					}
				}

				&:hover {

					a {
						&:before {
							content: "\e020";
						}
					}
				}

				&.selected {

					a.active {

						&:before {
							content: "\e020";
						}

					~ a:before {
							content: "\e021";
						}
					}

					a:not(.active) {

						&:before {
							content: "\e020";
						}
					}
				}
			}
		}

		// Upsells.
		.upsells {
			padding-bottom: 15px;

			> h2 {
				font-size: 20px;
				margin-bottom: 20px;
				text-transform: uppercase;
			}

			.product {
				margin-bottom: 20px;
			}
		}

		// Related products.
		.related {

			> h2 {
				font-size: 20px;
				margin-bottom: 20px;
				text-transform: uppercase;
			}

			.product {
				margin-bottom: 25px;
			}

			@media (min-width: 769px) {

				.product {
					margin-bottom: 0;
				}
			}
		}

		// Upsells and related products.
		.woocommerce-tabs ~ .products .product {
			margin-right: 3.5%;
			width: 22.37%;

			@media (min-width: 769px) {

				&:nth-of-type(3n+1) {
					clear: none;
				}

				&:nth-of-type(3n+3) {
					margin-right: 3.5%;
				}

				&:nth-of-type(3n+4) {
					margin-right: 0;
				}
			}

			@media (max-width: 768px) {

				&:nth-of-type(3n+2) {
					margin-right: 0;
				}

				width: 48.25%;
			}

			@media (max-width: 480px) {
				margin-right: 0;
				width: 100%;
			}
		}
	}
}
