.woocommerce #secondary {

	.button:not(.wc-forward),
	button {
		background: none;
		border: 2px solid $color__text-dark;
		color: $color__text-dark;

		&:hover {
			background: $color__text-dark;
			color: #fff;
		}
	}

	.widget_tag_cloud .tagcloud a {
		background: none;
		border: 1px solid $color__text-medium;

		&:hover {
			background: $color__text-medium;
			color: #fff;
		}
	}
}

/*--------------------------------------------------------------
## Active Product Filters Widget
--------------------------------------------------------------*/
.widget.widget_layered_nav_filters {

	.chosen a {
		padding-left: 20px;
		position: relative;

		&:before {
			color: $color__accent;
			content: "\e903";
			display: inline-block;
			font-family: $font__icon;
			font-size: 15px;
			left: 0;
			line-height: 1;
			position: absolute;
			top: 3px;
		}

		&:hover {
			color: $color__text-dark;
		}
	}
}

/*--------------------------------------------------------------
## - Cart and Product List Widget
--------------------------------------------------------------*/
ul.cart_list,
ul.product_list_widget {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		border-bottom: 1px solid $color__background-hr;
		list-style: none;
		line-height: normal !important;
		margin: 0;
		overflow: auto;
		margin-top: 20px;
		padding-bottom: 20px;
		position: relative;
		width: 100%;

		&:first-of-type {
			margin-top: 0;
		}

		&:last-of-type {
			border: none;
		}

		&:hover > a {
			border: none !important;
		}

		a {
			border-bottom: none;
			color: $color__text-dark;
			display: block;
			font-size: 14px;
			font-weight: 600;
			line-height: normal;
			letter-spacing: .75px;
			padding-right: 20px;
			text-transform: uppercase;

			&:hover {
				border-bottom: none;
				color: $color__accent;
			}
		}

		ins {
			background: none;
		}

		.star-rating {
			margin-top: 4px;
		}

		.amount,
		.quantity,
		.reviewer {
			color: $color__text-medium;
			display: inline-block;
			font-size: 14px;
			letter-spacing: normal;
			margin-top: 3px;
		}

		img {
			float: left;
			margin-right: 16px;
			width: 70px;
		}
	}
}

.widget_shopping_cart {

	.cart_list {

		li {

			.remove {
				font-size: 20px;
				line-height: 1;
				padding: 0;
				position: absolute;
				right: 0;
				top: 0;

				&:hover {
					color: $color__accent;
					text-decoration: none;
				}
			}
		}
	}

	.total {
		border-top: 1px solid $color__background-hr;
		font-size: 14px;
		margin-bottom: 13px;
		padding-top: 14px;

		strong {
			font-weight: 500;
		}

		.amount {
			color: $color__text-dark;
			float: right;
		}
	}

	.buttons {
		text-align: center;

		a {
			border: none;
			display: inline-block;
			font-size: 13px;
			font-weight: normal;
			padding: 11px 19px;

			&:first-of-type {
				background: none;
				border: 2px solid $color__text-dark;
				color: $color__text-dark;
				padding: 9px 19px;

				&:hover {
					background: $color__text-dark;
					color: #fff;
				}
			}
		}

		.checkout {
			color: #fff;
			margin-left: 10px;
		}
	}
}

/*--------------------------------------------------------------
## Product Categories Widget
--------------------------------------------------------------*/
.widget_product_categories .product-categories,
.woocommerce-widget-layered-nav-list {
	font-size: 0.933rem;
	margin: 0;

	li {
		color: $color__text-light;
		list-style: none;

		a {
			color: $color__text-dark;
			display: inline-block;
			margin-bottom: 8px;
		}

		span {
			color: $color__text-light;
		}

		.children {
			margin-left: 12px;
		}
	}
}

/*--------------------------------------------------------------
## - Price Filter Widget
--------------------------------------------------------------*/
.widget_price_filter {

	.ui-slider {
		background: $color__background-hr-dark;
		height: 3px;
		margin: 21px 3.5px 26px;
		position: relative;

		.ui-slider-range {
			background: $color__text-dark;
			height: 100%;
			position: absolute;
			top: 0;
			z-index: 1;
		}

		.ui-slider-handle {
			background: $color__text-dark;
			cursor: ew-resize;
			height: 15px;
			margin-left: -3.5px;
			outline: none;
			position: absolute;
			top: -6px;
			width: 7px;
			z-index: 2;
		}
	}

	.price_slider_amount {
		overflow: auto;

		.price_label {
			font-weight: normal;
			padding-top: 10px;

			span {
				font-weight: bold;
			}
		}

		.button {
			float: right;
		}
	}
}

/*--------------------------------------------------------------
## - Filter Products by Rating Widget
--------------------------------------------------------------*/
.widget.widget_rating_filter .wc-layered-nav-rating a {
	align-items: center;
	color: $color__text-light;
	display: flex;

	.star-rating {
		display: inline-block;
		margin-right: 3px;
	}
}

/*--------------------------------------------------------------
## - Product Tag Cloud Widget
--------------------------------------------------------------*/
.widget.widget_product_tag_cloud {
	margin-right: -8px;

	.tagcloud a {
		border: 1px solid $color__text-medium;
		color: $color__text-medium;
		display: inline-block;
		font-size: 14px;
		padding: 6px 9px;
		margin: 0 5px 8px 0;
		transition: .2s;

		&:hover {
			border-color: $color__accent;
			color: $color__accent;
		}
	}
}
