.sticky {
	display: block;
}

body:not(.single) .hentry {
	display: block;
	float: left;
	margin: 0 0 31px;
	width: 31%;
	
	@at-root body.sidebar:not(.single) .hentry {
		width: 48.25%;
		
		@media (max-width: 480px) {
			width: 100%; 
		}
	}	

	@media (max-width: 768px) {
		width: 48.25%;
	}	
	
	@media (max-width: 480px) {
		width: 100%;
	}

	// 1, 4, 7, 10
	&:nth-child(3n+1) {
		margin-right: 3.5%;
		
		@media (max-width: 768px) {
			margin-right: 0; 
		}
	}
	
	@media (max-width: 768px) {
		// 1, 3, 5, 7, 9
		&:nth-child(2n+1) {
			margin-right: 3.5%; 
		}
	}

	// 3, 6, 9, 12
	&:nth-child(3n+3) {
		margin-left: 3.5%;
		
		@media (max-width: 768px) {
			margin-left: 0; 
		}						
	}

	// 4, 8, 12, 16
	&:nth-child(3n+4) {
		clear: left;
		
		@media (max-width: 768px) {
			clear: none;
		}				
	}

	@media (max-width: 768px) {

		// 3, 5, 7, 9, 11
		&:nth-child(2n+3) {
			clear: left;			
		}		
	}

	&:only-child {
		margin: 0;
	}

	.entry-title {
		font-size: 1.0666em;
	}

	.entry-thumbnail {
		margin-bottom: -1px; 

		~ div {
			background: #fff;
			border: 1px solid $color__background-hr;
			padding: 15px 30px 33px;
		}
	}	

	.entry-content {
		font-size: .8666em; 
		padding-bottom: 0;
		
		p:last-of-type {
			margin: 0;
		}

		p:only-of-type {
			margin: 0;
		}
	}
}

.page-content,
.entry-content,
.entry-summary {
	padding: 25px 0;
}

/*--------------------------------------------------------------
## Posts
--------------------------------------------------------------*/
.entry-title {
	color: $color__text-dark;
	font-size: 1.6em; 
	line-height: normal;
	margin: 0 0 3px;
	
	@media (max-width: 768px) {
		font-size: 26px; 
	}		
	
	@media (max-width: 480px) {
		font-size: 23px; 
	}	

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			color: $color__text-medium;
		}
	}
}

.entry-meta {
	font-size: .8666em;
	font-family: $font__main;
	line-height: normal;

	span {
		color: $color__text-light;
		display: inline-block;
		
		&:not(:last-child) {

			&:after {
				content: '\007c';
				font-size: 12px; 
				padding: 0 5px;
				vertical-align: top;
			}
		}		

		a {
			color: inherit;
			text-decoration: none;

			&:hover {
				color: $color__accent;
			}
		}
	}	

	.post-categories {
		display: inline-block;
		list-style: none;
		margin: 0;
	}

	.byline,
	.updated:not(.published) {
		display: none;
	}
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-thumbnail,
.entry-video {
	margin-bottom: 25px;
	
	a {
		display: block;
		line-height: 0; 
	}	
}

.more-wrapper {
	display: block;
	font-size: 14px;
	text-transform: uppercase; 
	
	a {
		color: $color__text-dark;
		font-weight: 600;
		
		&:hover {
			color: $color__accent;
		}
	}
}	

.page-links {
	margin-top: 26px; 
	text-align: left;

	.page-links-title {
		color: $color__text-dark;
		font-size: 14px;
		font-weight: 500;  
	}

	.page-links-title {
		border: none; 
		color: $color__text-medium;
		font-weight: 600; 
		padding: 0;
		text-transform: none;
		
		&:hover {
			border: none; 
			color: $color__text-medium;
		}
	}

	span {
		border: 1px solid $color__text-medium;
		color: $color__text-medium;
		display: inline-block;
		font-family: $font__main;
		font-size: 0.9333em;
		line-height: normal;  
		margin-right: 4px;
		padding: 11px 17px;
		transition: .3s;

		&:visited {
			color: $color__text-medium;
		}

		&:hover {
			border-color: $color__accent;
			color: $color__accent;
		}
	}

	a span {
		color: $color__text-medium;
	}		
}

.single .entry-footer {
	margin: 15px 0;
}

.tags-links a {
	background: #e4e6eb;
	color: $color__text-medium;
	display: inline-block;
	font-size: 12px; 
	height: 28px;
	line-height: 28px;
	padding: 0 10px 0 20px;
	position: relative;
	margin: 0 10px 10px 0;
	transition: .2s;

	&:after {
	  background: $color__background-body;
	  border-bottom: 14px solid transparent;
	  border-right: 13px solid #e4e6eb;
	  border-top: 14px solid transparent;
	  content: '';
	  position: absolute;
	  left: 0;
	  transition: .2s;
	  top: 0;
	}

	&:hover {
	  background: $color__accent;
	  color: #fff;
	}

	&:hover:after {
		border-right-color: $color__accent;
	}
}

/*--------------------------------------------------------------
## Archives, Search Results & 404
--------------------------------------------------------------*/
.page-header {
	margin-bottom: 25px; 
}

.page-title {
	font-size: 32px; 
	line-height: normal;
	margin: 0;
}

.archive,
.search-results {

	.page-header {
		margin-bottom: 50px; 
	}

	.page-title {
		font-size: 18px;
	}

	.taxonomy-description {
		font-size: 14px; 
		margin-top: 15px; 
	}
	
	.entry-title {
		font-size: 29px; 
	}
}

/*--------------------------------------------------------------
## Search Form
--------------------------------------------------------------*/
.search-form {

	input[type="search"] {
		padding-right: 43px; 
	}

	button[type="submit"] {
		background: none; 
		border: none;
		padding: 0;
		position: relative;
		right: 36px;
		top: 3px;

		svg {
			height: 16px;
			width: 16px;
			
			path {
				fill: $color__text-light;
			}
		}
	}
}

/*--------------------------------------------------------------
## - Author Box
--------------------------------------------------------------*/
.author-box {
	display: table;
	border-right: 0; 
	border-left: 0;
	margin: 0;
	margin-bottom: 60px; 
	width: 100%;
		
	.author-avatar {
		display: table-cell;
		vertical-align: top;
		width: 130px;
		
		@media (max-width: 480px) {
			display: block;
			width: 100%; 
		}

		img {
			border-radius: 50px;
			display: block; 
			height: 100px;
			width: 100px;
			
			@media (max-width: 480px) {
				margin: 0 auto 15px;
			}			
		}
	}

	.author-description {
		display: table-cell;
		vertical-align: top;		
	
		h3 {
			font-size: 15px;
			font-weight: bold; 
			line-height: normal;
			margin: 0;	
		}

		span {
			display: block;
			font-size: 13px; 
			margin-bottom: 10px; 
			
			a {
				color: $color__text-medium;	
						
				&:hover {
					color: $color__accent;
				} 	
				
			}
		}

		div {
			font-size: 14px; 
		}	
	}
}

/*--------------------------------------------------------------
## - Related Posts
--------------------------------------------------------------*/
.yarpp-related,
.related-posts-section {
	margin-bottom: 60px; 

	.related-posts {
		@extend .sub-heading;
		margin-bottom: 20px; 
	}

	ol {
		@include clearfix;
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%; 

		li {
			display: block;
			float: left;
			margin: 0 0 25px 0;
			width: 31%;			

			@media (max-width: 480px) {
				width: 100%;
			}

			&:nth-child(3n+1) {
				margin-right: 3.5%;
				
				@media (max-width: 480px) {
					margin-right: 0; 
				}
			}

			&:nth-child(3n+3) {
				margin-left: 3.5%;
				
				@media (max-width: 480px) {
					margin-left: 0; 
				}				
			}

			&:only-child {
				margin: 0;
			}	

			div {
				background: #fff;
				border: 1px solid $color__background-hr; 
				padding: 25px 30px;
			}		

			a {
				display: block;
				line-height: 0; 
				text-decoration: none;
			}

			img {
				margin-bottom: -1px; 
			}

			.related-post-title {
				font-size: 16px; 
				font-weight: normal; 
				line-height: normal;
				margin: 0 0 3px;

				@at-root &:hover {
					color: $color__accent;
				}
			}

			.related-post-date {
				color: $color__text-light;
				font-size: 13px;
				font-weight: normal;
				line-height: normal; 
				margin: 0;
				
				&:hover {
					color: $color__accent;
				}
			}
		}
	}
}
