/*--------------------------------------------------------------
## Posts
--------------------------------------------------------------*/
.entry-header {
	margin-bottom: 25px;
}

.entry-title {
	color: $color__text-dark;
	font-size: 1.6em;
	font-weight: 600;
	line-height: normal;
	margin: 0 0 5px;

	@media (max-width: 768px) {
		font-size: 1.533em;
	}

	@media (max-width: 480px) {
		font-size: 1.467em;
	}

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			color: $color__text-medium;
		}
	}
}

.entry-thumbnail {
	line-height: 0;
	position: relative;
	text-align: center;

	a {
		display: block;
		line-height: 0;
	}

	.thumbnail-meta {
		display: block;
		left: 10px;
		position: absolute;
		top: 10px;
		z-index: 1;

		ul {
			display: inline-block;
			list-style: none;
			margin: 0 5px 0 0;

			li {
				background: rgba(0, 0, 0, .8);
				color: #fff;
				display: inline-block;
				font-size: 11px;
				letter-spacing: 1px;
				padding: 5px 12px 6px;
				text-transform: uppercase;

				a {
					color: #fff;
					line-height: normal;
				}
			}
		}
	}
}

.single .site-main > article > .entry-thumbnail,
.page .site-main > article > .entry-thumbnail {
	margin: 0 0 25px;
}

.entry-meta {
	font-size: .8666em;
	font-family: $font__main;
	line-height: normal;

	span {
		color: $color__text-light;
		display: inline-block;

		&:not(:last-child) {

			&:after {
				content: '\007c';
				font-size: 12px;
				padding: 0 5px;
				vertical-align: top;
			}
		}

		a {
			color: inherit;
			text-decoration: none;

			&:hover {
				color: $color__accent;
			}
		}
	}

	.post-categories {
		display: inline-block;
		list-style: none;
		margin: 0;
	}

	.updated:not(.published) {
		display: none;
	}
}

.single .byline,
.group-blog .byline {
	display: inline;
}

body:not(.single) .corp-content-wrapper {
	background: #fff;
	@include clearfix;
	padding: 25px 30px 38px;
	width: 100%;
}

body:not(.single) .entry-content p {

	&:last-of-type {
		margin-bottom: 0;
	}

	&:only-of-type {
		margin-bottom: 0;
	}
}

.more-link {
	
	&.excerpt {
		display: block;
		margin-top: 26px;
	}

	.more-text {
		display: block;

		span {
			display: inline-block;
			padding-left: 3px;
			vertical-align: middle;
		}
	}
}

.page-links {
	align-items: center;
	display: flex;
	margin: 26px 0;
	text-align: left;

	.page-links-title {
		color: $color__text-medium;
		font-weight: 600;
		margin-right: 4px;
	}

	.post-page-numbers {
		border: 1px solid $color__text-medium;
		color: $color__text-medium;
		display: inline-block;
		font-family: $font__main;
		font-size: 0.9333em;
		line-height: normal;
		margin-right: 8px;
		padding: 11px 17px;
		transition: .3s;
		vertical-align: top;

		&:hover,
		&.current {
			border-color: $color__accent;
			color: $color__accent;
		}
	}
}

.single .entry-footer {
	margin: 0 0 40px;
}

.tags-links {

	a {
		background: #e4e6eb;
		color: $color__text-medium;
		display: inline-block;
		font-size: 12px;
		height: 28px;
		line-height: 28px;
		padding: 0 10px 0 20px;
		position: relative;
		margin: 0 10px 10px 0;
		transition: .2s;

		&:after {
			background: $color__background-body;
			border-bottom: 14px solid transparent;
			border-right: 13px solid #e4e6eb;
			border-top: 14px solid transparent;
			content: '';
			position: absolute;
			left: 0;
			transition: .2s;
			top: 0;
		}

		&:hover {
			background: $color__accent;
			color: #fff;
		}

		&:hover:after {
			border-right-color: $color__accent;
		}
	}
}

/*--------------------------------------------------------------
## Blog Loop: Grid
--------------------------------------------------------------*/
.blog-layout-grid {
	display: flex;
	flex-wrap: wrap;

	// If Archive Post Content is set to Full Post Content, don't use equal height columns.
	&.blog-full {
		align-items: flex-start;
	}

	article {
		background: #fff;
		border: 1px solid $color__background-hr;
		margin: 0 0 30px;
		width: 31%;

		// Two column blog layout below 768px.
		@media (max-width: 768px) {
			width: 48.25%;
		}

		// One column blog layout below 480px.
		@media (max-width: 480px) {
			width: 100%;
		}

		// 1, 4, 7, 10
		&:nth-of-type(3n+1) {
			margin-right: 3.5%;

			@media (max-width: 768px) {
				margin-right: 0;
			}
		}

		@media (max-width: 768px) {
			// 1, 3, 5, 7, 9
			&:nth-of-type(2n+1) {
				margin-right: 3.5%;

				@media (max-width: 480px) {
					margin-right: 0;
				}
			}
		}

		// 3, 6, 9, 12
		&:nth-of-type(3n+3) {
			margin-left: 3.5%;

			@media (max-width: 768px) {
				margin-left: 0;
			}
		}

		// Two column blog layout when the sidebar is in use.
		@at-root body.page-layout-default.sidebar .blog-layout-grid article {
			width: 48.25%;

			@media (max-width: 480px) {
				width: 100%;
			}

			// 1, 4, 7, 10
			&:nth-of-type(3n+1) {
				margin-right: 0;
			}

			// 1, 3, 5, 7, 9
			&:nth-of-type(2n+1) {
				margin-right: 3.5%;

				@media (max-width: 480px) {
					margin-right: 0;
				}
			}

			// 3, 6, 9, 12
			&:nth-of-type(3n+3) {
				margin-left: 0;
			}
		}

		&:only-child {
			margin: 0;
		}

		.entry-content {
			font-size: 14px;
		}

		.entry-title {
			font-size: 16px;
			margin: 0 0 3px 0;
		}

		.entry-thumbnail {
			margin: -1px;
		}

		.corp-content-wrapper {
			padding: 25px 30px 33px;
		}
	}
}

/*--------------------------------------------------------------
## Blog Loop: Standard
--------------------------------------------------------------*/
.blog-layout-standard article {
	margin-bottom: 40px;

	.corp-content-wrapper {
		border: 1px solid $color__background-hr;
	}

	.entry-thumbnail {
		margin-bottom: -1px;
	}

	.entry-header {
		margin-bottom: 20px;
		
		.entry-title {
			font-size: 24px;
		}
	}
}

/*--------------------------------------------------------------
## Blog Loop: Offset
--------------------------------------------------------------*/
.blog-layout-offset article {
	@include clearfix;
	margin-bottom: 40px;

	.entry-header {

		.entry-time {
			color: $color__text-light;
			font-size: 13px;
			letter-spacing: 1px;
			margin-bottom: 16px;
			text-transform: uppercase;
		}
	}

	.entry-offset {
		float: left;
		padding-right: 30px;
		width: 22%;

		@media (max-width: 768px) {
			display: none;
		}

		.entry-author-avatar {
			margin-bottom: 6px;

			a {
				display: block;
				line-height: 0;
			}

			img {
				border-radius: 50%;
				width: 70px;
			}
		}

		.entry-author-link,
		.entry-categories,
		.entry-comments {
			color: $color__text-light;
			font-size: 13px;
			line-height: normal;
			margin-bottom: 12px;

			span {
				display: block;
				margin-bottom: 2px;
			}

			a {
				color: $color__text-dark;
				font-size: 14px;
				font-weight: 500;

				&:hover {
					color: $color__accent;
				}
			}
		}
	}

	.corp-content-wrapper {
		border: 1px solid $color__background-hr;
	}

	.entry-thumbnail {
		margin-bottom: -1px;
	}

	.corp-content-wrapper,
	.entry-thumbnail {
		float: right;
		width: 78%;

		@media (max-width: 768px) {
			float: none;
			width: 100%;
		}
	}
}

/*--------------------------------------------------------------
## Blog Loop: Alternate
--------------------------------------------------------------*/
.blog-layout-alternate {
	display: flex;
	flex-wrap: wrap;

	.hentry {
		background: #fff;
		border: 1px solid $color__background-hr;
		margin-bottom: 30px;
		width: 100%;

		// Two column blog layout below 768px.
		@media (max-width: 1024px) {
			width: 48.25%;
		}

		// One column blog layout below 480px.
		@media (max-width: 480px) {
			width: 100%;
		}

		@media (max-width: 1024px) {
			// 1, 3, 5, 7, 9
			&:nth-of-type(2n+1) {
				margin-right: 3.5%;

				@media (max-width: 480px) {
					margin-right: 0;
				}
			}
		}

		.entry-header {
			margin-bottom: 18px;
		}

		.entry-title {
			font-size: 16px;
		}

		.entry-thumbnail {
			float: left;
			margin: -1px;
			text-align: left;
			width: 41.5006%;

			@media (max-width: 1024px) {
				float: none;
				text-align: center;
				width: auto;
			}
		}

		.corp-content-wrapper {
			padding: 25px 30px 33px;
		}

		.entry-summary {
			font-size: 14px;

			p:last-of-type {
				margin: 0;
			}

			p:only-of-type {
				margin: 0;
			}
		}

		.corp-content-wrapper {
			float: right;
			width: 58.4994%;

			@media (max-width: 1024px) {
				float: none;
				width: 100%;
			}
		}

		&:nth-of-type(2n) {
			flex-direction: row-reverse;

			.entry-thumbnail {
				float: right;
				text-align: right;

				@media (max-width: 1024px) {
					float: none;
					text-align: center;
				}
			}

			.corp-content-wrapper {
				float: left;

				@media (max-width: 1024px) {
					float: none;
				}
			}
		}
	}
}

/*--------------------------------------------------------------
## Blog Loop: Masonry
--------------------------------------------------------------*/
.content-area .blog-layout-masonry {
	clear: both;
	@include clearfix();
	margin: 0 -15px;

	article {
		float: left;
		padding: 0 15px;
		margin-bottom: 30px;
		width: 33.333%;

		// Two column blog layout below 768px.
		@media (max-width: 768px) {
			width: 48.25%;
		}

		// One column blog layout below 480px.
		@media (max-width: 480px) {
			width: 100%;
		}

		// Two column blog layout when the sidebar is in use.
		@at-root body.page-layout-default.sidebar .blog-layout-masonry article {
			width: 50%;

			@media (max-width: 480px) {
				width: 100%;
			}
		}

		.entry-content {
			font-size: 14px;
		}

		.entry-title {
			font-size: 16px;
			margin: 0 0 3px 0;
		}

		.entry-thumbnail {
			@include clearfix;
			margin-bottom: -1px;
		}

		.corp-content-wrapper {
			border: 1px solid $color__background-hr;
			padding: 25px 30px 33px;
		}
	}
}

/*--------------------------------------------------------------
## Archives, Search Results & 404
--------------------------------------------------------------*/
.page-header {
	margin-bottom: 25px;
}

.page-title {
	font-size: 32px;
	line-height: normal;
	margin: 0;
}

.archive {

	.page-header {
		margin-bottom: 50px;
		width: 100%;
	}

	.page-title {
		font-size: 24px;
		text-align: center;
	}

	.taxonomy-description {
		font-size: 14px;
		margin-top: 5px;
		text-align: center;

		p:last-of-type {
			margin-bottom: 0;
		}
	}
}

.search-results {

	.page-header {
		margin-bottom: 50px;
	}

	.page-title {
		font-size: 14px;
		letter-spacing: 1px;
		text-transform: uppercase;

		span {
			color: $color__accent;
		}
	}

	.corp-search-results {
		display: flex;
		flex-wrap: wrap;
	}	

	.hentry {
		background: #fff;
		border: 1px solid $color__background-hr;
		margin-bottom: 30px;
		width: 100%;

		// Two column blog layout below 768px.
		@media (max-width: 1024px) {
			width: 48.25%;

			// 1, 3, 5, 7, 9
			&:nth-of-type(2n+1) {
				margin-right: 3.5%;

				@media (max-width: 480px) {
					margin-right: 0;
				}
			}
		}

		// One column blog layout below 480px.
		@media (max-width: 480px) {
			width: 100%;
		}

		.entry-header {
			margin-bottom: 18px;
		}

		.entry-title {
			font-size: 16px;
		}

		.entry-thumbnail {
			float: left;
			margin: -1px;
			text-align: left;
			width: 41.5006%;

			@media (max-width: 1024px) {
				float: none;
				text-align: center;
				width: auto;
			}
		}

		.corp-content-wrapper {
			padding: 25px 30px 33px;
		}

		.entry-summary {
			font-size: 14px;

			p:last-of-type {
				margin: 0;
			}

			p:only-of-type {
				margin: 0;
			}
		}

		&.has-post-thumbnail {

			.corp-content-wrapper {
				float: right;
				width: 58.4994%;

				@media (max-width: 1024px) {
					float: none;
					width: 100%;
				}
			}
		}
	}
}

/*--------------------------------------------------------------
## Search Form
--------------------------------------------------------------*/
.search-form {
	display: inline-block;
	position: relative;

	input[type="search"] {
		min-width: 300px;
		padding-right: 54px;
	}

	button[type="submit"] {
		background: none !important;
		border: none !important;
		padding: 13px 20px 9px;
		position: absolute;
		right: 0;
		top: 0;

		svg {
			height: 14px;
			width: 14px;

			path {
				fill: $color__text-medium;
			}
		}
	}
}

/*--------------------------------------------------------------
## - Author Box
--------------------------------------------------------------*/
.author-box {
	border-top: 1px solid $color__background-hr;
	display: table;
	border-right: 0;
	border-left: 0;
	margin-bottom: 60px;
	padding-top: 40px;
	width: 100%;

	.author-avatar {
		display: table-cell;
		vertical-align: top;
		width: 130px;

		@media (max-width: 480px) {
			display: block;
			width: 100%;
		}

		img {
			border-radius: 50px;
			display: block;
			height: 100px;
			width: 100px;

			@media (max-width: 480px) {
				height: 80px;
				margin: 0 0 15px;
				width: 80px;
			}
		}
	}

	.author-description {
		display: table-cell;
		vertical-align: top;

		@media (max-width: 480px) {
			display: block;
			width: 100%;
		}

		h3 {
			font-size: 15px;
			font-weight: bold;
			line-height: normal;
			margin: 0;
		}

		span {
			display: block;
			font-size: 13px;
			margin-bottom: 10px;

			a {
				color: $color__text-medium;

				&:hover {
					color: $color__accent;
				}

			}
		}

		div {
			font-size: 14px;

			p:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}

/*--------------------------------------------------------------
## - Related Posts
--------------------------------------------------------------*/
.yarpp-related,
.related-posts-section {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 35px;

	.related-posts {
		@extend .sub-heading;
		margin-bottom: 20px;
		width: 100%;
	}

	ol {
		@include clearfix;
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;

		li {
			display: block;
			float: left;
			margin: 0 0 25px 0;
			width: 31%;

			@media (max-width: 480px) {
				width: 100%;
			}

			&:nth-child(3n+1) {
				margin-right: 3.5%;

				@media (max-width: 480px) {
					margin-right: 0;
				}
			}

			&:nth-child(3n+3) {
				margin-left: 3.5%;

				@media (max-width: 480px) {
					margin-left: 0;
				}
			}

			&:only-child {
				margin: 0;
			}

			.corp-content-wrapper {
				background: #fff;
				border: 1px solid $color__background-hr;
				padding: 20px 25px;
			}

			a {
				display: block;
				line-height: 0;
				text-decoration: none;
			}

			img {
				display: block;
				margin: 0 auto -1px;
			}

			.related-post-title {
				font-size: 16px;
				line-height: normal;
				margin: 0 0 3px;
				transition: .3s;

				@at-root &:hover {
					color: $color__accent;
				}
			}

			.related-post-date {
				color: $color__text-light;
				font-size: 13px;
				font-weight: normal;
				line-height: normal;
				margin: 0;
				transition: .3s;

				&:hover {
					color: $color__accent;
				}
			}
		}
	}
}
